.typeimg{
    width:140px;
    margin-right: 10px;
    float: left;
}
.typecol{
    display: flex;
    justify-content: start;
    align-items: center;
}
.typerow{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}
.typerow_p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.tableztd{
    display: flex;
    justify-content: start;
    align-items: center;
}
.tcolor1{
    color:#28a745;
}
.p-top-s{
    padding-top: 8px;
}
.form-img{
    width:300px;
    margin-right: 10px;
    float: left;
}
.form-vadio{
    width:300px;
    flex: 1;
    background-color: #4d5259;
}
.typecol-j{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.typerow img{
    width:500px;
}
.typerow video{
    width:500px;
}
.zt1{color:#A46BFF;}
.zt2{color:#5776F2;}
.zt3{color:#FFAA00;}
.zt4{color:#36AFF5;}
.zt5{color:#6ABF47;}
.zt6{color:#787878;}

.imgTem{
    color: #FF1717;
    position: absolute;
    right:5px;
    top:5px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}