<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <title>后台管理系统</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!--表格css-->
    <link rel="stylesheet" href="css/tables/datatables.min.css">
    <link rel="stylesheet" href="css/tables/datatables-http.min.css">
    <link rel="stylesheet" href="css/tables/jsgrid/jsgrid.css">
    <link rel="stylesheet" href="css/tables/jsgrid/theme.css">
    <link rel="stylesheet" href="css/tables/buttons.dataTables.min.css">
    <link rel="stylesheet" href="css/tables/jsgrid/demos.css">
    <link rel="stylesheet" href="css/tables/jsgrid/jsgridui.css">

    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap-multitabs/multitabs.min.css">
    <link type="text/css" rel="stylesheet" href="js/jquery-tagsinput/jquery.tagsinput.min.css">
    <link type="text/css" rel="stylesheet" href="js/webuploader/webuploader.css">
    <link type="text/css" rel="stylesheet" href="js/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <link rel="stylesheet" type="text/css" href="css/page.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <header class="card-header"><div class="card-title">文档列表</div></header>
                <div class="card-body">
                    <div id="wrapp" >
                        <div class="jsgrid table-responsive" data-parent="#accordion">
                            <a id="addoredit_a" onclick="addY()" role="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editmode" style="display:none;">添加一级分类</a>
                            <!--text-truncate-->
                            <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="xhhexm" >
                                <thead>
                                <tr>
                                    <th>图片/视频</th>
                                    <th style="max-width:50px;">类型</th>
                                    <th style="max-width:80px;">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item,stat:${usbList}">
                                    <td th:if="${item.usb003=='Y'}">
                                        <img class="form-img" th:src="${'upload/simg/'+item.usb002}"/>
                                    </td>
                                    <td th:if="${item.usb003=='N'}">
                                        <video class="form-vadio" th:src="${'upload/simg/'+item.usb002}" controls/>
                                    </td>
                                    <td><font class="text-success" th:text="${item.usb003=='Y'?'图片':'视频'}"></font></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="javascript:void(0);" th:onclick="edit([[${item.toString()}]])" class="btn btn-table"
                                               data-bs-toggle="modal" data-bs-target="#editmode">编辑</a>
                                            <div class="ivu-divider-vertical"><!----></div>
                                            <a href="javascript:void(0);" th:onclick="del([[${item.usb001}]])" class="btn btn-table">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 编辑模态框 -->
    <div class="modal fade" id="editmode" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="editmodeLabel"><span id="ftype"></span>轮播文件</h6>
                    <button type="button" onclick="pagerefalsh()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="hidden" id="fid" value=""/>
                    <div class="modal-body">
                        <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:0;padding-left:20px;">文件类型</label>
                            <div class="col-4 p-top-s">
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="statusOne" name="customRadioInline" class="form-check-input" value="Y" checked>
                                    <label class="form-check-label" for="statusOne">图片</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="statusTwo" name="customRadioInline" class="form-check-input" value="N">
                                    <label class="form-check-label" for="statusTwo">视频</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-12 position-relative" style="margin-top: 20px;" id="upimgfile">
                            <div class="js-upload-images" >
                                <div id="picker_more_pics" style="padding-right:0;padding-left:10px;">上传图片</div>
                                <input type="hidden" id="more_pics" name="more_pics" data-multiple="false" data-size="20971520"
                                       data-ext='jpg,jpeg,png'/>
                                <ul id="file_list_more_pics" class="list-inline row lyear-uploads-pic mb-0" style="padding-right:0;padding-left:10px;">
                                    <li class="col-10 col-sm-8 col-md-6 col-lg-5 list-images-item" >
                                        <figure style="max-height: 400px;min-height: 300px;height: 100%;">
                                            <img id="upfileimg" src="" />
                                        </figure>
                                    </li>
                                </ul>
                                <div class="col-11 small" style="margin-left:10px;color:#0096FF;">图片不超过10M，图片格式jpg,jpeg,png</div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-12 position-relative" id="upvadiofile" style="display:none;margin-top: 20px;">
                            <div class="form-check form-check-inline" style="padding-left: 10px;">
                                <button type="button" class="btn btn-primary" onclick="uploadvadio()">上传视频</button>
                            </div>
                            <div class="col-10 col-sm-8 col-md-6 col-lg-5 form-check form-check-inline typerow_p" style="padding-left: 10px;">
                                <figure style="max-height: 400px;min-height: 300px;height:100%;width:100%;display: flex;">
                                    <input type="file" id="videoinput" accept="video/*" style="display:none;">
                                    <video class="form-vadio" id="upfilevadio" src="" controls/>
                                </figure>
                            </div>
                            <div class="col-11 small" style="margin-left:10px;color:#0096FF;">视频不超过50M，视频格式mp4</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="edit-four">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 垂直居中的图片模态框 -->
    <div class="modal fade" id="picModalLive" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">图片预览</h6>
                    <button type="button" class="btn-close" data-bs-target="#editmode" data-bs-toggle="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" id="picyl" alt="图片位"/>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- 数字动态滚动增加效果 -->
<script type="text/javascript" src="js/scroll-numbers.js"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/index.min.js"></script>
<!-- 表格JS -->
<script type="text/javascript" src="static/tables/datatables.min.js"></script>
<script type="text/javascript" src="static/tables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="static/tables/jszip.min.js"></script>
<script type="text/javascript" src="static/tables/pdfmake.min.js"></script>
<script type="text/javascript" src="static/tables/vfs_fonts.js"></script>
<script type="text/javascript" src="static/tables/buttons.html5.min.js"></script>
<script type="text/javascript" src="static/tables/buttons.print.min.js"></script>
<script type="text/javascript" src="static/tables/datatable.js"></script>
<!--tags插件-->
<script type="text/javascript" src="js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<!--上传插件-->
<script type="text/javascript" src="js/webuploader/webuploader.js"></script>
<!--灯箱效果插件-->
<script type="text/javascript" src="js/magnific-popup/magnific-popup.min.js"></script>
<!--通知消息插件-->
<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
<!--引入标签插件js-->
<script type="text/javascript" src="js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<!--引入下拉插件js-->
<script type="text/javascript" src="js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/layui/layui.js"></script>
<!-- validate JS 验证-->
<script type="text/javascript" src="assets/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="assets/jquery-validate/validate-methods.js"></script>

<script type="text/javascript">

    var file_lastName="";
    var filesize;
    var layer = layui.layer;
    var load_index;

    //刷新页面
    function pagerefalsh(){
        location.reload();
    }

    function addY(){
        $("#ftype").text("添加");
    }

    function uploadvadio(){
        $("#videoinput").trigger('click');
    }

    function edit(obj){
        let josnobj = striongTOjsonString(obj);
        $("#fid").val(josnobj.usb001);
        if(josnobj.usb003=="Y"){
            $("input[name='customRadioInline'][value='Y']").prop("checked",true);
            $("#upimgfile").css("display","block");
            $("#upvadiofile").css("display","none");
            $("#upfileimg").attr("src","upload/simg/"+josnobj.usb002);
        }else{
            $("input[name='customRadioInline'][value='N']").prop("checked",true);
            $("#upimgfile").css("display","none");
            $("#upvadiofile").css("display","block");
            $("#upfilevadio").attr("src","upload/simg/"+josnobj.usb002);
        }
    }

    function del(id){
        if (confirm("您确定删除吗?")) {
            load_index = layer.load(1);
            var formData = new FormData();
            formData.append("fid",id);
            $.ajax({
                url: 'toHt/delhome', // 服务器端处理上传文件的URL
                type: 'POST',
                data: formData,
                dataType:'json',
                contentType: false, // 不设置内容类型
                processData: false, // 不处理发送的数据
                success: function (res) {
                    var d = eval(res);
                    layer.msg("删除成功");
                    setTimeout(function(){
                        location.reload();
                    },1000);
                    layer.close(load_index);
                },
                error: function () { console.log('提交失败'); }
            });
        }
    }


    $('#videoinput').on('change', function(){
        var file = this.files[0]; // 获取文件对象
        if (file) {
            let fileName = file.name; // 获取文件名
            file_lastName = fileName.split('.').pop(); // 获取后缀名
            filesize = file.size/(1024*1024);
            if(file_lastName!="mp4"){
                showNotify('文件类型不正确，只允许上传后缀名为：mp4，请重新上传！', 'danger', 1500);
                $("#videoinput").val("");
                $("#upfilevadio").attr("src","");
            }else if(filesize>50){
                showNotify('文件不得超过50M，请重新上传！', 'danger', 1500);
                $("#videoinput").val("");
                $("#upfilevadio").attr("src","");
            }else{
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#upfilevadio").attr("src",e.target.result);
                };
                reader.readAsDataURL(file);
            }
        }

    });
  //  console.log($('.form-check-input:checked').val());
    $('.form-check-input').on('change', function() {
        let selectedValue = $(this).val();
        if(selectedValue=="Y"){
            $("#upimgfile").css("display","block");
            $("#upvadiofile").css("display","none");
        }else{
            $("#upimgfile").css("display","none");
            $("#upvadiofile").css("display","block");
        }
    });

    $("#uploadForm").validate({
        errorPlacement: function(error, element) {
            //替换错误显示位置，error表示错误信息
            $(element).parent("div").append(error);
            $(element).parent("div").find("label").attr("style","margin-left:5px;");
        },
        rules : {},
        messages: {},
        submitHandler: function(form) {
            let isok = true;
            if($('.form-check-input:checked').val()=="Y"){
                if($("#upfileimg").attr("src").length<=0) isok=false;
            }else if($('.form-check-input:checked').val()=="N") {
                if ($("#upfilevadio").attr("src").length <= 0) isok = false;
            }
            if(isok){
                load_index = layer.load(1);
                let formData = new FormData();
                formData.append("fid",$("#fid").val().trim());
                formData.append("qy",$('.form-check-input:checked').val());
                formData.append("fext",file_lastName);
                if($('.form-check-input:checked').val()=="Y"){
                    formData.append("picfile",$("#upfileimg").attr("src"));
                }else{
                    formData.append("picfile",$("#upfilevadio").attr("src"));
                }
                $.ajax({
                    url: 'toHt/savehome', // 服务器端处理上传文件的URL
                    type: 'POST',
                    data: formData,
                    dataType:'json',
                    contentType: false, // 不设置内容类型
                    processData: false, // 不处理发送的数据
                    success: function (res) {
                        var d = eval(res);
                        console.log(d);
                        $("#fid").val(d.usb.usb001);
                        if(d.usb.usb003=="Y") $("#upfileimg").attr("src","upload/simg/"+d.usb.usb002);
                        else if(d.usb.usb003=="N") $("#upfilevideo").attr("src","upload/simg/"+d.usb.usb002);
                        layer.close(load_index);
                        layer.msg(d.msg);
                    },
                    error: function () { console.log('提交失败'); }
                });
            }else{
                console.log('文件未上传');
                showNotify('文件未上传', 'danger', 1500);
            }
        }
    });



    $(document).ready(function(){
        // 图片上传(单张图片，多张图片)
        $('.js-upload-image,.js-upload-images').each(function() {
            var $input_file      = $(this).find('input'),
                $input_file_name = $input_file.attr('name'),
                $multiple        = $input_file.data('multiple'),  // 是否选择多个文件
                $ext             = $input_file.data('ext'),       // 支持的文件后缀，示例以图片为例
                $size            = $input_file.data('size');      // 支持最大的文件大小

            var $file_list = $('#file_list_' + $input_file_name);
            var ratio = window.devicePixelRatio || 1;
            var thumbnailWidth = 640 * ratio;
            var thumbnailHeight = 360 * ratio;
            //此处不做自动上传
            var uploader = WebUploader.create({
                auto: false,
                duplicate: true,
                resize: true,
                swf: 'js/webuploader/Uploader.swf',
                server: '',//上传路径
                pick: {
                    id: '#picker_' + $input_file_name,
                    multiple: $multiple
                },
                fileSingleSizeLimit: $size,
                accept: {
                    title: 'Images',
                    extensions: $ext,
                    mimeTypes: 'image/*'
                }
            });

            uploader.on('fileQueued', function(file) {
               $img = $("#upfileimg");
                file_lastName = file.ext;
                $input_file.val('');
                uploader.makeThumb(file, function(error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }
                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);

            });

            uploader.on('error', function(type) {
                switch (type) {
                    case 'Q_TYPE_DENIED':
                        showNotify('文件类型不正确，只允许上传后缀名为：' + $ext + '，请重新上传！', 'danger', 1500);
                        break;
                    case 'F_EXCEED_SIZE':
                        showNotify('文件不得超过' + ($size / 1024) + 'kb，请重新上传！', 'danger', 1500);
                        break;
                }
            });

            // 删除操作
            $file_list.delegate('.btn-remove-pic', 'click', function() {
                var id = $(this).data('id');
                if (confirm("本操作将直接删除该图片，您确认删除吗?")) { // 可改为对话框插件
                    //直接删除后台图片
                    $(this).closest('.list-images-item').remove();
                }
            });

        });


    });

    function striongTOjsonString(obj){
        obj = obj.replace(/\s+/g,'');
        obj = obj.substring(obj.indexOf("["));
        obj = obj.replaceAll("[","{\"");
        obj = obj.replaceAll("]","\"}");
        obj = obj.replaceAll("=","\":\"");
        obj = obj.replaceAll(",","\",\"");
        return JSON.parse(obj);
    }
</script>
</body>
</html>