<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <title>后台管理系统</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box"><i class="mdi mdi-currency-cny fs-4"></i></span>
                        <span class="fs-4 scroll-numbers">[[${skfs!=null?skfs:0}]]</span>
                    </div>
                    <div class="text-end"> 授课方数量</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box"><i class="mdi mdi-currency-cny fs-4"></i></span>
                        <span class="fs-4 scroll-numbers">[[${xkfs!=null?xkfs:0}]]</span>
                    </div>
                    <div class="text-end"> 选课方数量</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${txliat!=null&&txliat.size()>0}">
        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">预约提醒</div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>选课方名称</th>
                                <th>授课方名称</th>
                                <th>课程名称</th>
                            </tr>
                            </thead>
                            <tbody id="tablebody">
                            <tr th:each="item,stat:${txliat}">
                                <td th:text="${item.yhb!=null?item.yhb.yhb004:''}"></td>
                                <td th:text="${item.smd!=null?item.smd.smd003:''}"></td>
                                <td th:text="${item.hba.hba002}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/chart.min.js"></script>
<!-- 数字动态滚动增加效果 -->
<script type="text/javascript" src="js/scroll-numbers.js"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="js/main.min.js"></script>
</body>
</html>