<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <title>后台管理系统</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!--表格css-->
    <link rel="stylesheet" href="css/tables/datatables.min.css">
    <link rel="stylesheet" href="css/tables/datatables-http.min.css">
    <link rel="stylesheet" href="css/tables/jsgrid/jsgrid.css">
    <link rel="stylesheet" href="css/tables/jsgrid/theme.css">
    <link rel="stylesheet" href="css/tables/buttons.dataTables.min.css">
    <link rel="stylesheet" href="css/tables/jsgrid/demos.css">
    <link rel="stylesheet" href="css/tables/jsgrid/jsgridui.css">

    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap-multitabs/multitabs.min.css">
    <link type="text/css" rel="stylesheet" href="js/jquery-tagsinput/jquery.tagsinput.min.css">
    <link type="text/css" rel="stylesheet" href="js/webuploader/webuploader.css">
    <link type="text/css" rel="stylesheet" href="js/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <link rel="stylesheet" type="text/css" href="css/page.css">
    <!--日期选择器css-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <!--时间日期选择器css-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--引入下拉插件css-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap-select/bootstrap-select.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-search mb-2-5">
                        <form class="search-form" method="post" role="form" action="toHt/toselect">
                            <input type="hidden" id="pages" name="pages" th:value="${pageobj.currentPage}"/>
                            <input type="hidden" id="counts" name="counts" th:value="${pageobj.pageCount}"/>
                            <input type="hidden" id="jstype" name="jstype" th:value="${session.umsg.jstype}"/>
                            <!--text input-->
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="row">
                                        <label class="col-auto col-form-label"
                                               style="padding-right:0;padding-left:10px;">名称</label>
                                        <div class="col-auto">
                                            <input type="text" class="form-control" id="name" name="name" th:value="${pageobj.othersql}"
                                                   placeholder="请输入名称"/>
                                        </div>
                                    </div>
                                </div>
                                <!--button-->
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary me-1">搜索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="wrapp" >
                        <div class="jsgrid table-responsive" data-parent="#accordion">
                            <input type="file" id="file" name="file" style="display: none" onchange="daoru(this)"/>
                            <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="selectexm" >
                                <thead>
                                <tr>
                                    <th style="max-width:30px;">序号</th>
                                    <th>机构名称/个人单位</th>
                                    <th>身份类别</th>
                                    <th>联系人名称</th>
                                    <th>联系人手机号</th>
                                    <th>营业执照/身份证号</th>
                                    <th>年度场次限数</th>
                                    <th>年度人次限数</th>
                                    <th>已授课场次</th>
                                    <th>已授课人次</th>
                                    <th>已预约场次</th>
                                    <th>场次余量</th>
                                    <th>上线日期</th>
                                    <th>状态</th>
                                    <th style="max-width:80px;" th:if="${session.umsg.uname=='admin'||session.umsg.jstype=='A'}">操作</th>
                                </tr>
                                </thead>
                                <tbody id="tablebody">
                                <tr th:each="item,stat:${pageobj.resultList}">
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:text="${item.smd003}"></td>
                                    <td th:text="${item.smd002=='A'?'机构':(item.smd002=='B'?'个人':(item.smd002=='C'?'专家':''))}"></td>
                                    <td th:text="${item.smd017}"></td>
                                    <td th:text="${item.smd018}"></td>
                                    <td th:text="${item.smd004}"></td>
                                    <td th:text="${item.smd010}"></td>
                                    <td th:text="${item.smd009}"></td>
                                    <td th:text="${item.smd011}"></td>
                                    <td th:text="${item.smd012}"></td>
                                    <td th:text="${item.smd013}"></td>
                                    <td th:text="${item.smd010!=null?item.smd010-item.smd013:0}"></td>
                                    <td th:text="${#dates.format(item.smd008,'yyyy-MM-dd')}"></td>
                                    <td th:text="${item.smd014=='M'?'正常':(item.smd014=='N'?'封号':(item.smd014=='P'?'待审核':(item.smd014=='E'?'驳回':'')))}"></td>
                                    <td th:if="${session.umsg.uname=='admin'||session.umsg.jstype=='A'}">
                                        <div class="btn-group btn-group-sm">
                                            <a href="javascript:void(0);" th:onclick="toxq([[${item.toString()}]])" class="btn btn-table"
                                               data-bs-toggle="modal" data-bs-target="#xqmode">详情</a>
                                            <a href="javascript:void(0);" th:onclick="edit([[${item.toString()}]])" class="btn btn-table"
                                               data-bs-toggle="modal" data-bs-target="#editmode">场次设定</a>
                                            <div class="ivu-divider-vertical"></div>
                                            <th:block th:if="${item.smd014=='M'}">
                                                <a class="btn btn-table" data-bs-toggle="modal" data-bs-target="#delmode"  th:onclick="xgzt([[${item.smd001}]],[[${item.smd003}]],[['N']])">封号</a>
                                            </th:block>
                                            <th:block th:if="${item.smd014=='N'}">
                                                <a class="btn btn-table" data-bs-toggle="modal" data-bs-target="#delmode" th:onclick="xgzt([[${item.smd001}]],[[${item.smd003}]],[['M']])">正常</a>
                                            </th:block>
                                            <th:block th:if="${item.smd014=='P'}">
                                                <a class="btn btn-table" data-bs-toggle="modal" data-bs-target="#xqmode" th:onclick="tosh([[${item.toString()}]])">审核</a>
                                            </th:block>
                                            <!-- <a href="javascript:void(0);" th:onclick="del([[${item.smd001}]])" class="btn btn-table">删除</a>-->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 详情模态框 -->
    <div class="modal fade" id="xqmode" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="xqmodeLabel">查看详情</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <div class="modal-body" style="min-height:580px;">

                    </div>
                    <div id="shbox" class="modal-footer" style="height:100px;">
                        <button type="button" class="btn btn-primary" id="shtg">通过</button>
                        <button type="button" class="btn btn-primary" id="shbh">驳回</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 编辑分类模态框 -->
    <div class="modal fade" id="editmode" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
         aria-hidden="true" style="height:100%;background-color: #FFF;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="editmodeLabel"><span id="ftype"></span></h6>
                    <button type="button" onclick="pagerefalsh()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="hidden" id="fid" value=""/>
                    <input type="hidden" class="form-control" id="t2" name="t2" placeholder="请输入机构名称"/>
                   <!-- <div class="modal-body" style="min-height:580px;">
                        <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">身份类别</label>
                            <div class="form-check">
                                <div class="form-check form-check-inline">
                                    <input  class="form-check-input" id="r31" name="t3" value="A" type="radio" checked>
                                    <label for="r32" class="form-check-label">机构</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input  class="form-check-input" id="r32" name="t3" value="B" type="radio">
                                    <label for="r32" class="form-check-label">个人</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="r33" name="t3" value="C" type="radio">
                                    <label for="r33" class="form-check-label">专家</label>
                                </div>
                            </div>
                        </div>
                        <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;" id="x1">机构名称</label>
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                <input type="text" class="form-control" id="t2" name="t2" placeholder="请输入机构名称"/>
                            </div>
                        </div>
                         <div class="row">
                                    <div class="col-md-6 col-xl-4">
                                        <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">联系人名称</label>
                                        <input type="text" class="form-control" id="t10" name="t10" placeholder="请输入联系人名称" required/>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">联系人手机号</label>
                                        <input type="text" class="form-control" id="t11" name="t11" placeholder="请输入联系人手机号" required/>
                                    </div>
                                </div>-->
                        <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">年度场次限数</label>
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                <input type="number" class="form-control" id="t9" name="t9" placeholder="请输入年度场次限数"/>
                            </div>
                        </div>
                        <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">年度人次限数</label>
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                <input type="number" class="form-control" id="t10" name="t10" placeholder="请输入年度人次限数"/>
                            </div>
                        </div>
                       <!-- <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;" id="x2">营业执照/身份证号</label>
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                <input type="number" class="form-control" id="t4" name="t4" placeholder="请输入营业执照"/>
                            </div>
                        </div>
                        <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">开户行</label>
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                <input type="number" class="form-control" id="t5" name="t5" placeholder="请输入开户行"/>
                            </div>
                        </div>
                        <div class="row col-auto" style="margin-top: 20px;">
                        <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;" id="x4">户名</label>
                        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                            <input type="number" class="form-control" id="t6" name="t6" placeholder="请输入户名"/>
                        </div>
                    </div>
                        <div class="row col-auto" style="margin-top: 20px;">
                            <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;" id="x3">账号</label>
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                <input type="number" class="form-control" id="t7" name="t7" placeholder="请输入账号"/>
                            </div>
                        </div>
                    </div>-->
                    <div class="modal-footer" style="height:100px;">
                        <button type="submit" class="btn btn-primary" id="edit-four">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- 数字动态滚动增加效果 -->
<script type="text/javascript" src="js/scroll-numbers.js"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/index.min.js"></script>
<!-- 表格JS -->
<script type="text/javascript" src="static/tables/datatables.min.js"></script>
<script type="text/javascript" src="static/tables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="static/tables/jszip.min.js"></script>
<script type="text/javascript" src="static/tables/pdfmake.min.js"></script>
<script type="text/javascript" src="static/tables/vfs_fonts.js"></script>
<script type="text/javascript" src="static/tables/buttons.html5.min.js"></script>
<script type="text/javascript" src="static/tables/buttons.print.min.js"></script>
<script type="text/javascript" src="static/tables/datatable.js"></script>
<!--tags插件-->
<script type="text/javascript" src="js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<!--上传插件-->
<script type="text/javascript" src="js/webuploader/webuploader.js"></script>
<!--灯箱效果插件-->
<script type="text/javascript" src="js/magnific-popup/magnific-popup.min.js"></script>
<!--通知消息插件-->
<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
<!--引入标签插件js-->
<script type="text/javascript" src="js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<!--引入下拉插件js-->
<script type="text/javascript" src="js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/layui/layui.js"></script>
<!-- 翻页-->
<script type="text/javascript" src="pagejs/htfy.js"></script>
<!-- validate JS 验证-->
<script type="text/javascript" src="assets/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="assets/jquery-validate/validate-methods.js"></script>

<script type="text/javascript">

    var file_lastName="";
    var filesize;
    var layer = layui.layer;
    var load_index;

    function gobackpage(){
        window.history.back();
    }

    pdyes($("#pages").val(), $("#counts").val());

    function toxq(obj1){
        $("#shbox").hide();
        let item1 = null;
        if(obj1.indexOf("Hash")>0){
            item1 = striongTOjsonString(obj1);
        }else{
            item1 = jsStringTojsonString(obj1);
        }
        $("#xqmode").find(".modal-body").empty();
        let html="";
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">机构名称/个人单位：</label>';
        html+= '<span class="jspan">'+item1.smd003+'</span>';
        html+= '</div></div></div>';
        html+= '';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">身份类别：</label>';
        html+= '<span class="jspan">'+(item1.smd002=='A'?'机构':(item1.smd002=='B'?'个人':(item1.smd002=='C'?'专家':'')))+'</span>';
        html+= '</div></div></div>';
        html+= '';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">营业执照/身份证号：</label>';
        html+= '<span class="jspan">'+item1.smd004+'</span>';
        html+= '</div></div></div>';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">开户行：</label>';
        html+= '<span class="jspan">'+item1.smd005+'</span>';
        html+= '</div></div></div>';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">户名/银行卡号：</label>';
        html+= '<span class="jspan">'+item1.smd006+'</span>';
        html+= '</div></div></div>';
        html+= '';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">账号/姓名：</label>';
        html+= '<span class="jspan">'+item1.smd007+'</span>';
        html+= '</div></div></div>';
        html+= "<div class='row'><div class='form-group col-xl-3 col-md-5 col-sm-12'>";
        html+= "<label class='layui-form-label'>营业执照：</label>";
        html+= "<img class='form-control' src='upload/yyzz/"+item1.smd016+"' style='width: 300px;'/>";
        html+= "</div>";
        $("#xqmode").find(".modal-body").append(html);
    }


    function tosh(obj1){
        $("#shbox").show();
        let item1 = null;
        if(obj1.indexOf("Hash")>0){
            item1 = striongTOjsonString(obj1);
        }else{
            item1 = jsStringTojsonString(obj1);
        }
        $("#xqmode").find(".modal-body").empty();
        let html="";
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">机构名称/个人单位：</label>';
        html+= '<span class="jspan">'+item1.smd003+'</span>';
        html+= '</div></div></div>';
        html+= '';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">身份类别：</label>';
        html+= '<span class="jspan">'+(item1.smd002=='A'?'机构':(item1.smd002=='B'?'个人':(item1.smd002=='C'?'专家':'')))+'</span>';
        html+= '</div></div></div>';
        html+= '';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">营业执照/身份证号：</label>';
        html+= '<span class="jspan">'+item1.smd004+'</span>';
        html+= '</div></div></div>';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">开户行：</label>';
        html+= '<span class="jspan">'+item1.smd005+'</span>';
        html+= '</div></div></div>';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">户名/银行卡号：</label>';
        html+= '<span class="jspan">'+item1.smd006+'</span>';
        html+= '</div></div></div>';
        html+= '';
        html+= '<div class="row"><div class="col-md-5">';
        html+= '<div class="form-group"><label class="layui-form-label">账号/姓名：</label>';
        html+= '<span class="jspan">'+item1.smd007+'</span>';
        html+= '</div></div></div>';
        html+= "<div class='row'><div class='form-group col-xl-3 col-md-5 col-sm-12'>";
        html+= "<label class='layui-form-label'>营业执照：</label>";
        html+= "<img class='form-control' src='upload/yyzz/"+item1.smd016+"' style='width: 300px;'/>";
        html+= "</div>";
        $("#shtg").attr("onclick","xgzt("+item1.smd001+",'"+item1.smd003+"','M','"+item1.smd009+"')")
        $("#shbh").attr("onclick","xgzt("+item1.smd001+",'"+item1.smd003+"','E')")
        $("#xqmode").find(".modal-body").append(html);
    }

    function xgzt(id,uname,type,sl){
        if(type=="E"){

            var num = prompt("请输入驳回备注","");
            if (num){
                load_index = layer.load(1);
                var formData = new FormData();
                formData.append("fid",id);
                formData.append("uname",uname);
                formData.append("type",type);
                formData.append("t1",num);
                $.ajax({
                    url: 'toHt/xgztselect', // 服务器端处理上传文件的URL
                    type: 'POST',
                    data: formData,
                    dataType:'json',
                    contentType: false, // 不设置内容类型
                    processData: false, // 不处理发送的数据
                    success: function (res) {
                        var d = eval(res);
                        if(d.msg=="0"){
                            layer.msg("修改成功");
                            setTimeout(function(){
                                location.reload();
                            },1000);
                            layer.close(load_index);
                        }
                    },
                    error: function () { console.log('提交失败'); }
                });
            }
        }else if(type=="M"&&sl=="null"){
            layer.msg("请先填写年度场次限数等数据");
        }else if (type=="M"?confirm("您确定审核通过吗"):confirm("您确定修改吗?")) {
            load_index = layer.load(1);
            var formData = new FormData();
            formData.append("fid",id);
            formData.append("uname",uname);
            formData.append("type",type);
            $.ajax({
                url: 'toHt/xgztselect', // 服务器端处理上传文件的URL
                type: 'POST',
                data: formData,
                dataType:'json',
                contentType: false, // 不设置内容类型
                processData: false, // 不处理发送的数据
                success: function (res) {
                    var d = eval(res);
                    if(d.msg=="0"){
                        if(type=="M"){
                            layer.msg("审核通过");
                        }else {
                            layer.msg("修改成功");
                        }
                        setTimeout(function(){
                            location.reload();
                        },1000);
                        layer.close(load_index);
                    }
                },
                error: function () { console.log('提交失败'); }
            });

        }
    }

    $("input[name='t3']").click(function(){
        if($(this).val()=="A"){
            $("#x1").html("机构");
            $("#t2").attr("placeholder","请输入机构");
            $("#x2").html("营业执照");
            $("#t4").attr("placeholder","请输入营业执照");
            $("#x3").html("账号");
            $("#t7").attr("placeholder","请输入账号");
            $("#x4").html("户名");
            $("#t6").attr("placeholder","请输入户名");
        }else{
            $("#x1").html("个人名称");
            $("#t2").attr("placeholder","请输入个人名称");
            $("#x2").html("身份证号");
            $("#t4").attr("placeholder","请输入身份证号");
            $("#x3").html("姓名");
            $("#t7").attr("placeholder","请输入姓名");
            $("#x4").html("银行卡号");
            $("#t6").attr("placeholder","请输入银行卡号");
        }
    });

    //翻页
    function usefanye(pageindex){
        var params = [
            ["pages",pageindex],
            ["name",$.trim($("#name").val())]];
        form_submit("toHt/toselect","post",params,"_self");
    }

    function del(id){
        if (confirm("您确定删除吗?")) {
            load_index = layer.load(1);
            var formData = new FormData();
            formData.append("fid",id);
            $.ajax({
                url: 'toHt/delselect', // 服务器端处理上传文件的URL
                type: 'POST',
                data: formData,
                dataType:'json',
                contentType: false, // 不设置内容类型
                processData: false, // 不处理发送的数据
                success: function (res) {
                    var d = eval(res);
                    if(d.msg=="0"){
                        layer.msg("删除成功");
                        setTimeout(function(){
                            location.reload();
                        },1000);
                        layer.close(load_index);
                    }else{
                        layer.msg("该授课方下还有课程，无法删除");
                    }
                },
                error: function () { console.log('提交失败'); }
            });
        }
    }


    //刷新页面
    function pagerefalsh(){
        location.reload();
    }

    function edit(obj){
        if(obj!=null&&obj!=''){
            let josnobj = null;
            if(obj.indexOf("Hash")>0){
                josnobj = striongTOjsonString(obj);
            }else{
                josnobj = jsStringTojsonString(obj);
            }
            $("#fid").val(josnobj.smd001);
           /* $("input[name='t3']").each(function(){
                if($(this).val()==josnobj.smd002){
                    $(this).prop("checked",true);
                }else{
                    $(this).prop("checked",false);
                }
            });

            $("#t4").val(josnobj.smd004);
            $("#t5").val(josnobj.smd005);
            $("#t6").val(josnobj.smd006);
            $("#t10").val(josnobj.smd017);
            $("#t11").val(josnobj.smd01);
            $("#t7").val(josnobj.smd007);*/
            $("#t2").val(josnobj.smd003);
            $("#t9").val(josnobj.smd009);
            $("#t10").val(josnobj.smd010);
            $("#ftype").text("编辑");
        }else{
            $("#ftype").text("添加");
        }
    }
    $("#uploadForm").validate({
        errorPlacement: function(error, element) {
            //替换错误显示位置，error表示错误信息
            $(element).parent("div").parent("div").append(error);
            $(element).parent("div").parent("div").find("label").addClass("col-12");
            // $(element).parent("div").parent("div").find("label").attr("style","margin-left:5px;");
        },
        rules : {},
        messages: {},
        submitHandler: function(form) {
            load_index = layer.load(1);
            var formData = new FormData();
            formData.append("fid",$("#fid").val().trim());
            formData.append("t3",$("#t2").val());
          /*  formData.append("t2",$("input[name='t3']:checked").val());

            formData.append("t4",$("#t4").val());
            formData.append("t5",$("#t5").val());
            formData.append("t6",$("#t6").val());
            formData.append("t10",$("#10").val());
            formData.append("t11",$("#t11").val());
            formData.append("t7",$("#t7").val());*/
            formData.append("t9",$("#t9").val());
            formData.append("t10",$("#t10").val());
            $.ajax({
                url: 'toHt/xgselect', // 服务器端处理上传文件的URL
                type: 'POST',
                data: formData,
                dataType:'json',
                contentType: false, // 不设置内容类型
                processData: false, // 不处理发送的数据
                success: function (res) {
                    var d = eval(res.d);
                    $("#fid").val(d.smd001);
                    layer.close(load_index);
                    layer.msg("提交成功");
                },
                error: function () { console.log('提交失败'); }
            });

        }
    });
</script>
</body>
</html>