<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <title>后台管理系统</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, yher-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!--表格css-->
    <link rel="stylesheet" href="css/tables/datatables.min.css">
    <link rel="stylesheet" href="css/tables/datatables-http.min.css">
    <link rel="stylesheet" href="css/tables/jsgrid/jsgrid.css">
    <link rel="stylesheet" href="css/tables/jsgrid/theme.css">
    <link rel="stylesheet" href="css/tables/buttons.dataTables.min.css">
    <link rel="stylesheet" href="css/tables/jsgrid/demos.css">
    <link rel="stylesheet" href="css/tables/jsgrid/jsgridui.css">

    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap-multitabs/multitabs.min.css">
    <link type="text/css" rel="stylesheet" href="js/jquery-tagsinput/jquery.tagsinput.min.css">
    <link type="text/css" rel="stylesheet" href="js/webuploader/webuploader.css">
    <link type="text/css" rel="stylesheet" href="js/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <link rel="stylesheet" type="text/css" href="css/page.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap-select/bootstrap-select.min.css">
    <!--日程插件-->
    <link rel="stylesheet" type="text/css" href="js/fullcalendar/core/main.min.css">
    <link rel="stylesheet" type="text/css" href='js/fullcalendar/daygrid/main.min.css' />
    <link rel="stylesheet" type="text/css" href='js/fullcalendar/timegrid/main.min.css' />
    <link rel="stylesheet" type="text/css" href='js/fullcalendar/list/main.min.css' />
    <!--时间选择器css-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择器css-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">

    <style>
        td.fc-day.fc-past {
            background-color: #FaFaFa;
        }
        .small-f1{
            font-size: 12px;
            color:#6a6a6a;
        }
        .fadeMask{
            width:100%;
            height:100%;
            position: fixed;
            left: 0;
            top: 0;
            background-color: #0a0a0a48;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-search mb-2-5">
                        <form class="search-form" method="post" role="form" action="toHt/toselection">
                            <input type="hidden" id="pages" name="pages" th:value="${pageobj.currentPage}"/>
                            <input type="hidden" id="counts" name="counts" th:value="${pageobj.pageCount}"/>
                            <!--text input-->
                            <div class="row g-3">
                                <div class="col-auto">
                                    <div class="row">
                                        <label class="col-auto col-form-label" style="padding-right:0;padding-left:10px;">名称</label>
                                        <div class="col-auto">
                                            <input type="text" class="form-control" id="name" name="name" th:value="${pageobj.othersql}" placeholder="请输入名称"/>
                                        </div>
                                    </div>
                                </div>
                                <!--button-->
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary me-1">搜索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="wrapp" >
                        <div class="jsgrid table-responsive" data-parent="#accordion">
                            <input type="file" id="file" name="file" style="display: none" onchange="daoru(this)"/>
                            <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;" id="selectionexm" >
                                <thead>
                                <tr>
                                    <th style="max-width:30px;">序号</th>
                                    <th>选课方名称</th>
                                    <th>授课方名称</th>
                                    <th>课程名称</th>
                                    <th>老师名称</th>
                                    <th>授课地点</th>
                                    <th>授课日期</th>
                                    <th>授课结束日期</th>
                                    <th>状态</th>
                                    <th style="max-width:80px;">操作</th>
                                </tr>
                                </thead>
                                <tbody id="tablebody">
                                <tr th:each="item,stat:${pageobj.resultList}">
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:text="${item.smd.smd003}"></td>
                                    <td th:text="${item.yhb.yhb004}"></td>
                                    <td th:text="${item.hba.hba002}"></td>
                                    <td th:text="${item.yhc!=null?item.yhc.yhc002:''}"></td>
                                    <td th:text="${item.yhe009}"></td>
                                    <td th:text="${#dates.format(item.yhe008,'yyyy-MM-dd')}"></td>
                                    <td th:text="${#dates.format(item.yhe020,'yyyy-MM-dd')}"></td>
                                    <td th:text="${item.yhe007=='A'?'选课方预约':(item.yhe007=='B'?'授课方退回':(item.yhe007=='C'?'授课方接受':(item.yhe007=='D'?'选课方取消预约 ':(item.yhe007=='E'?'已完结已传资料':(item.yhe007=='F'?'已完结未传资料':'')))))}"></td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="javascript:void(0);" th:onclick="edit([[${item.toString()}]],[[${item.yhb.yhb004}]])" class="btn btn-table"
                                               data-bs-toggle="modal" data-bs-target="#editmode">编辑</a>
                                            <th:block th:if="${session.umsg.jstype=='B'}">
                                                <div class="ivu-divider-vertical"></div>
                                                <th:block th:if="${item.yhe007=='A'}">
                                                <a class="btn btn-table" data-bs-toggle="modal" data-bs-target="#delmode"  th:onclick="xgzt([[${item.yhe001}]],[[${item.yhb.yhb004}]],[['C']])">接受</a>
                                                <a class="btn btn-table" data-bs-toggle="modal" data-bs-target="#delmode"  th:onclick="xgzt([[${item.yhe001}]],[[${item.yhb.yhb004}]],[['B']])">退回</a>
                                            </th:block>
                                            </th:block>
                                            <th:block th:if="${session.umsg.jstype=='C'}">
                                            <th:block th:if="${item.yhe007!='D'&&item.yhe007!='E'&&item.yhe007!='F'}">
                                                <a class="btn btn-table" data-bs-toggle="modal" data-bs-target="#delmode" th:onclick="xgzt([[${item.yhe001}]],[[${item.yhe004}]],[['D']])">取消预约</a>
                                            </th:block>
                                            </th:block>
                                            <!-- <a href="javascript:void(0);" th:onclick="del([[${item.yhe001}]])" class="btn btn-table">删除</a>-->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑分类模态框 -->
    <div class="modal fade" id="editmode" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
         aria-hidden="true" style="height:100%;background-color: #FFF;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="editmodeLabel"><span id="ftype"></span></h6>
                    <button type="button" onclick="pagerefalsh()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="hidden" id="fid" value=""/>
                    <input type="hidden" id="fname" value=""/>
                    <div class="modal-body" style="min-height:580px;">
                        <div class="row ">
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">授课结束日期</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="date" class="form-control" id="z10" name="z10" placeholder="请输入授课结束日期"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">授课地点</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z1" name="z1" placeholder="请输入授课地点"/>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">服务人次</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z2" name="z2" placeholder="请输入服务人次"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">服务总费用</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z3" name="z3" placeholder="请输入服务总费用"/>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">实际服务人次</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z8" name="z8" placeholder="请输入实际服务人次"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">实际服务总费用</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z9" name="z9" placeholder="请输入实际服务总费用"/>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">交通补贴费</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z4" name="z4" placeholder="请输入交通补贴费"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">附加材料费</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z5" name="z5" placeholder="请输入附加材料费"/>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">志愿者人数</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z7" name="z7" placeholder="请输入志愿者人数"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-auto col-form-label" style="padding-right:20px;padding-left:20px;">志愿者补贴总金额</label>
                                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                                    <input type="text" class="form-control" id="z6" name="z6" placeholder="请输入志愿者补贴总金额"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="height:100px;">
                        <button type="submit" class="btn btn-primary" id="edit-four">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 编辑分类模态框 -->
    <div class="modal fade" id="yymode" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
         aria-hidden="true" style="height:100%;background-color: #FFF;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="editmodeLabel1"><span id="ftype1"></span></h6>
                    <button type="button" onclick="pagerefalsh()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="uploadForm1" enctype="multipart/form-data">
                    <input type="hidden" id="fid1" value=""/>
                    <div class="modal-body" style="min-height:580px;">
                        <div class="row col-auto">
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <label class="col-auto col-form-label" style="padding-right:1px;padding-left:10px;">课程分类</label>
                                <div class="form-controls">
                                    <select id="t1" name="t1"  class="form-control form-select">
                                        <option value="" selected>请选择</option>
                                        <th:block th:each="item,stat:${hbblist}">
                                            <option th:value="${item.hbb001}" >[[${item.hbb002}]]</option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <label class="col-auto col-form-label" style="padding-right:1px;padding-left:10px;">课程</label>
                                <div class="form-controls">
                                    <select id="t4" name="t4" class="form-control form-select">
                                        <option value="" selected>请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row col-auto">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <label class="col-auto col-form-label" style="padding-right:1px;padding-left:10px;">授课日期</label>
                                <input type="text" class="form-control col-auto" disabled="false" id="t8" name="t8" />
                            </div>
                        </div>
                        <div class="row col-auto">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <label class="col-auto col-form-label" style="padding-right:1px;padding-left:10px;">授课地点</label>
                                <input type="text" class="form-control col-auto" id="t2" name="t2" placeholder="请输入授课地点"/>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <label class="col-auto col-form-label" style="padding-right:1px;padding-left:10px;">服务人次</label>
                                <input type="text" class="form-control col-auto" id="t14" name="t14" placeholder="请输入服务人次"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="height:100px;">
                        <button type="submit" class="btn btn-primary" id="edit-four1">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade fadeMask" id="modal-event" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">选择上课日期</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closecbt()"></button>
            </div>
            <div class="modal-body">
                <div id="calendar" data-provide="fullcalendar"></div>
            </div>
            <div class="modal-footer">
                <span style="width:60px;position: absolute;left:10px;">预约日期</span>
                <span id="yydate" style="width:120px;position: absolute;left:80px;"></span>
                <button onclick="closecbt()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="okcbt()">确认</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- 数字动态滚动增加效果 -->
<script type="text/javascript" src="js/scroll-numbers.js"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/index.min.js"></script>
<!--tags插件-->
<script type="text/javascript" src="js/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<!--上传插件-->
<script type="text/javascript" src="js/webuploader/webuploader.js"></script>
<!--灯箱效果插件-->
<script type="text/javascript" src="js/magnific-popup/magnific-popup.min.js"></script>
<!--通知消息插件-->
<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
<!--引入标签插件js-->
<script type="text/javascript" src="js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<!--引入下拉插件js-->
<script type="text/javascript" src="js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/layui/layui.js"></script>
<!-- 表格JS -->
<script type="text/javascript" src="static/tables/datatables.min.js"></script>
<script type="text/javascript" src="static/tables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="static/tables/jszip.min.js"></script>
<script type="text/javascript" src="static/tables/pdfmake.min.js"></script>
<script type="text/javascript" src="static/tables/vfs_fonts.js"></script>
<script type="text/javascript" src="static/tables/buttons.html5.min.js"></script>
<script type="text/javascript" src="static/tables/buttons.print.min.js"></script>
<script type="text/javascript" src="static/tables/datatable.js"></script>
<!-- 翻页-->
<script type="text/javascript" src="pagejs/htfy.js"></script>
<!-- validate JS 验证-->
<script type="text/javascript" src="assets/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="assets/jquery-validate/validate-methods.js"></script>

<!--日期选择器js-->
<script type="text/javascript" src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!--时间日期选择器js-->
<script type="text/javascript" src="js/momentjs/moment.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/momentjs/locale/zh-cn.min.js"></script>
<!--日程插件-->
<script type="text/javascript" src="js/fullcalendar/core/main.min.js"></script>
<script type="text/javascript" src="js/fullcalendar/core/locales/zh-cn.js"></script>
<script type="text/javascript" src="js/fullcalendar/interaction/main.min.js"></script>
<script type="text/javascript" src="js/fullcalendar/daygrid/main.min.js"></script>
<script type="text/javascript" src="js/fullcalendar/timegrid/main.min.js"></script>
<script type="text/javascript" src="js/fullcalendar/list/main.min.js"></script>
<script type="text/javascript" src="js/fullcalendar/rrule/main.min.js"></script>

<script type="text/javascript">

    var file_lastName="";
    var filesize;
    var layer = layui.layer;
    var load_index;
    var kcid;
    var arr=[];
    $(document).ready(function(){
        //上月监听
        $(".fc-prev-button").click(function(e){
            getpkjl();
        });
        //下月监听
        $(".fc-next-button").click(function(e){
           getpkjl();
        });
        $(".fc-today-button").click(function(e){
             getpkjl();
        });
    });

    function closecbt(){
        $("#yydate").empty();
    }
    function okcbt(){
        $("#t8").val($("#yydate").text());
        $("#yydate").empty();
        $("#modal-event").modal('hide');
    }

    //获取当月的排课记录的方法
    function getpkjl() {
         load_index = layer.load(1);
         var formData = new FormData();
         formData.append('kcid',kcid);
         formData.append('pkyear',formatDate(calendar.state.currentDate, 'yyyy'));
         formData.append('pkmonth',formatDate(calendar.state.currentDate, 'MM'));
        $.ajax({
            url: 'toHt/getcoursepk',
            type: 'POST',
            data: formData,
            async: false,                      //async 设置为 false，则所有的请求均为同步请求，在没有返回值之前，同步请求将锁住浏览器
            cache: false,                      // 不缓存
            processData: false,                // jQuery不要去处理发送的数据
            contentType: false,                // jQuery不要去设置Content-Type请求头
            dataType: 'json',
            success: function (res) {
                var d = eval(res);
                if(d.msg=="N"){
                    layer.msg('该月无排课记录！');
                    ispk = false;
                }else{
                    arr = [];
                    calendar.removeAllEventSources();
                    d = d.list;
                    for(var i=0;i<d.length;i++){
                        if(d[i].yhd004!="N") arr.push({id:d[i].yhd001,title:"上午",start:formatDate(d[i].yhd003, 'yyyy-MM-dd'),zt:(d[i].yhd004=="Y"?"N":"Y")});
                        if(d[i].yhd005!="N") arr.push({id:d[i].yhd001,title:"下午",start:formatDate(d[i].yhd003, 'yyyy-MM-dd'),zt:(d[i].yhd005=="Y"?"N":"Y"),className: 'bg-purple'});
                        if(d[i].yhd006!="N") arr.push({id:d[i].yhd001,title:"晚上",start:formatDate(d[i].yhd003, 'yyyy-MM-dd'),zt:(d[i].yhd006=="Y"?"N":"Y"),className: 'bg-danger'});
                    }
                    calendar.addEventSource(arr);
                    calendar.refetchEvents();
                    ispk = true;
                }
                layer.close(load_index);
            },
            error: function () {
                layer.close(load_index);
            }
        });

    }

    $('select[id=t1]').change(function() {
        $.ajax({
            url:'getallcourse?flid='+this.value,
            type:'post',
            async: false,
            cache: false,
            processData: false,
            contentType: false,
            dataType:'json',
            success:function(data) {
                var list = eval(data.list);
                $('select[id=t4]').empty();
                 $("select[id=t4]").append("<option value=''>请选择</option>");
                for(var i=0;i<list.length;i++){
                     $("select[id=t4]").append("<option value='"+list[i].hba001+"'>"+list[i].hba002+"</option>");
                }
            },
            error:function(){}
        });

    });
    $('select[id=t4]').change(function() {
        $("#t8").empty();
        if(this.value!=""){
            $('#modal-event').modal('show');
            kcid = this.value;
            getpkjl();
        }
    });
    function gobackpage(){
        window.history.back();
    }

    pdyes($("#pages").val(), $("#counts").val());

    //翻页
    function usefanye(pageindex){
        var params = [
            ["pages",pageindex],
            ["name",$.trim($("#name").val())]];
        form_submit("toHt/toselection","post",params,"_self");
    }

    function del(id){
        if (confirm("您确定删除吗?")) {
            load_index = layer.load(1);
            var formData = new FormData();
            formData.append("fid",id);
            $.ajax({
                url: 'toHt/delselection', // 服务器端处理上传文件的URL
                type: 'POST',
                data: formData,
                dataType:'json',
                contentType: false, // 不设置内容类型
                processData: false, // 不处理发送的数据
                success: function (res) {
                    var d = eval(res);
                    if(d.msg=="0"){
                        layer.msg("删除成功");
                        setTimeout(function(){
                            location.reload();
                        },1000);
                        layer.close(load_index);
                    }else{
                        layer.msg("该授课方下还有课程，无法删除");
                    }
                },
                error: function () { console.log('提交失败'); }
            });
        }
    }

    //刷新页面
    function pagerefalsh(){
        location.reload();
    }

    function edit(obj,name){
        if(obj!=null&&obj!=''){
            let josnobj = null;
            if(obj.indexOf("Hash")>0){
                josnobj = striongTOjsonString(obj);
            }else{
                josnobj = jsStringTojsonString(obj);
            }
            $("#tname").val(name);
            $("#fid").val(josnobj.yhe001);
            $("#z1").val(josnobj.yhe009);
            $("#z2").val(josnobj.yhe010);
            $("#z3").val(josnobj.yhe011);
            $("#z4").val(josnobj.yhe012);
            $("#z5").val(josnobj.yhe013);
            $("#z6").val(josnobj.yhe014);
            $("#z7").val(josnobj.yhe015);
            $("#z8").val(josnobj.yhe016);
            $("#z9").val(josnobj.yhe018);
            $("#z10").val(getTime(josnobj.yhe020,'YY-MM-DD'));
            $("#ftype").text("编辑");
        }else{
            $("#ftype").text("添加");
        }
    }
    $("#uploadForm").validate({
        errorPlacement: function(error, element) {
            //替换错误显示位置，error表示错误信息
            $(element).parent("div").parent("div").append(error);
            $(element).parent("div").parent("div").find("label").addClass("col-12");
            // $(element).parent("div").parent("div").find("label").attr("style","margin-left:5px;");
        },
        rules : {t2: { required : true, },t4: { required : true, },t5: { required : true, },},
        messages: {},
        submitHandler: function(form) {
            load_index = layer.load(1);
            var formData = new FormData();
            formData.append("fid",$("#fid").val().trim());
            formData.append("z1",$("#z1").val());
            formData.append("z2",$("#z2").val());
            formData.append("z3",$("#z3").val());
            formData.append("z4",$("#z4").val());
            formData.append("z5",$("#z5").val());
            formData.append("z6",$("#z6").val());
            formData.append("z7",$("#z7").val());
            formData.append("z8",$("#z8").val());
            formData.append("z9",$("#z9").val());
            formData.append("z10",$("#z10").val());
            formData.append("t1",$("#tname").val());
            $.ajax({
                url: 'toHt/xgselection', // 服务器端处理上传文件的URL
                type: 'POST',
                data: formData,
                dataType:'json',
                contentType: false, // 不设置内容类型
                processData: false, // 不处理发送的数据
                success: function (res) {
                    var d = eval(res);
                    $("#fid").val(d.yhe001);
                    layer.close(load_index);
                    layer.msg("提交成功");
                },
                error: function () { console.log('提交失败'); }
            });

        }
    });

    function xgzt(id,uname,type){
        if(type=="E"){
            var num = prompt("请输入驳回备注","");
            if (num!="") {
                load_index = layer.load(1);
                var formData = new FormData();
                formData.append("fid",id);
                formData.append("uname",uname);
                formData.append("type",type);
                formData.append("t1",num);
                $.ajax({
                    url: 'toHt/xgztselection', // 服务器端处理上传文件的URL
                    type: 'POST',
                    data: formData,
                    dataType:'json',
                    contentType: false, // 不设置内容类型
                    processData: false, // 不处理发送的数据
                    success: function (res) {
                        var d = eval(res);
                        if(d.msg=="0"){
                            layer.msg("修改成功");
                            setTimeout(function(){
                                location.reload();
                            },1000);
                            layer.close(load_index);
                        }
                    },
                    error: function () { console.log('提交失败'); }
                });
            }else{
                xgzt(id,uname,type);
            }
        }else if (confirm("您确定修改吗?")) {
            load_index = layer.load(1);
            var formData = new FormData();
            formData.append("fid",id);
            formData.append("uname",uname);
            formData.append("type",type);
            $.ajax({
                url: 'toHt/xgztselection', // 服务器端处理上传文件的URL
                type: 'POST',
                data: formData,
                dataType:'json',
                contentType: false, // 不设置内容类型
                processData: false, // 不处理发送的数据
                success: function (res) {
                    var d = eval(res);
                    if(d.msg=="0"){
                        layer.msg("修改成功");
                        setTimeout(function(){
                            location.reload();
                        },1000);
                        layer.close(load_index);
                    }
                },
                error: function () { console.log('提交失败'); }
            });
        }
    }

    var calendarEl = document.getElementById('calendar');

    // 定义时间点（避免时间变化导致示例不显示）
    var thisDate     = new Date();
    var thisFullYear = thisDate.getFullYear();
    var thisMonth    = thisDate .getMonth() + 1;
    if (thisMonth < 10) thisMonth = '0' + thisMonth;


    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list', 'rrule' ],
        height: 'auto',
        header: {
            left: '',
            center: 'title',
            right:'today,prev,next'
        },
        buttonText: {
            today:'今天',
            prev:'上月',
            next:'下月',
            prevYear:'上一年',
            nextYear:'下一年'
        },
        defaultView: 'dayGridMonth',
        editable: true, // 确定是否可以修改日历上的事件。
        eventLimit: false, // 当事件太多时允许“更多”链接
        eventOrder:false,
        events: [],
        dateClick: function(date, jsEvent, view) {
        },
        eventClick: function(date, jsEvent, view) {
            check = formatDate(date.event.start, 'yyyy-MM-dd HH:mm:ss');
            today = formatDate(new Date(), 'yyyy-MM-dd');
            if (check < today) {
                // 这是一个过去的日期，取消选择或显示消息
                layer.msg('请预约今天及以后日期！');
            } else {
                // 这是一个有效的日期，执行你的逻辑
                 var time_str = formatDate(date.event.start, 'yyyy-MM-dd');
                $("#yydate").empty();
                $("#yydate").text(time_str+" "+date.event.title);
            }
        }
    });

    calendar.render();
    calendar.setOption('locale', 'zh');

    // 时间格式化
    function formatDate(date = new Date(), fmt = 'yyyy-MM-dd HH:mm:ss') {
        date = (typeof date === 'number' || typeof date === 'string') ? new Date(date) : date;

        var o = {
            'M+': date.getMonth() + 1, // 月份
            'd+': date.getDate(), // 日
            'h+': date.getHours() % 12 === 0 ? 12 : date.getHours() % 12, // 小时
            'H+': date.getHours(), // 小时
            'm+': date.getMinutes(), // 分
            's+': date.getSeconds(), // 秒
            'q+': Math.floor((date.getMonth() + 3) / 3), // 季度
            'S': date.getMilliseconds() // 毫秒
        };
        var week = {
            '0': '\u65e5',
            '1': '\u4e00',
            '2': '\u4e8c',
            '3': '\u4e09',
            '4': '\u56db',
            '5': '\u4e94',
            '6': '\u516d'
        };

        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
        }

        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? '\u661f\u671f' : '\u5468') : '') + week[date.getDay() + '']);
        }

        for (var k in o) {
            if (new RegExp('(' + k + ')').test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)));
            }
        }

        return fmt;
    }

</script>
</body>
</html>