<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <title>left</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap-multitabs/multitabs.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
  <style>
      .nav-item-has-subnav>a:after {
          font-size: 10px;
      }

  </style>
</head>
<body th:fragment="common_side">
<aside class="lyear-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <img src="images/logo-sidebar.png" title="LightYear" alt="LightYear" />
    </div>
    <div class="lyear-layout-sidebar-info lyear-scroll">
        <nav class="sidebar-main">
            <ul class="nav-drawer">
                <li class="nav-item active">
                    <a class="multitabs" href="toHt/toHThome" id="default-page">
                        <i class="mdi mdi-home-city-outline"></i>
                        <span>后台首页</span>
                    </a>
                </li>
                <!--平台-->
                <th:block th:if="${session.umsg.uname=='admin'||session.umsg.jstype=='A'}">
                    <li class="nav-item nav-item-has-subnav">
                        <a >
                            <i class="mdi mdi-stove"></i> <span>系统设置</span>
                        </a>
                        <ul class="nav nav-subnav">
                                <li><a class="multitabs" href="toHt/wzxx">平台信息</a></li>
                                <li><a class="multitabs" href="toHt/selsjbf">数据备份</a></li>
                                <li><a class="multitabs" href="toHt/log">日志信息</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-stove"></i> <span>账户管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toHt/staff?lx=A">平台账户管理</a></li>
                            <li><a class="multitabs" href="toHt/staff?lx=B">授课账户管理</a></li>
                            <li><a class="multitabs" href="toHt/staff?lx=C">选课账户管理</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-stove"></i> <span>选课方管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toHt/tolevel">选课方层级管理</a></li>
                            <li><a class="multitabs" href="toHt/tochose">选课方管理</a></li>
                            <li><a class="multitabs" href="toHt/toselection">选课预约管理</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-stove"></i> <span>授课方管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toHt/toselect">授课方管理</a></li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-stove"></i> <span>课程管理</span>
                                </a>
                                <ul class="nav nav-subnav">
                                    <li><a class="multitabs" href="toHt/tocourselx">课程分类管理</a></li>
                                    <li><a class="multitabs" href="toHt/tocourse">课程管理</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a >
                            <i class="mdi mdi-stove"></i> <span>统计管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toSt/totjsk">授课方的统计</a></li>
                            <li><a class="multitabs" href="toSt/totjxk1">层级的统计</a></li>
                            <li><a class="multitabs" href="toSt/totjxk">选课方的统计</a></li>
                            <li><a class="multitabs" href="toSt/totjjtbt">交通补贴明细计</a></li>
                            <li><a class="multitabs" href="toSt/totjpjsk">授课方的评价统计</a></li>
                            <li><a class="multitabs" href="toSt/totjpjxk1">层级的评价统计</a></li>
                            <li><a class="multitabs" href="toSt/totjpjxk">选课方的评价统计</a></li>
                        </ul>
                    </li>
                </th:block>
                <!--授课方-->
                <th:block th:if="${session.umsg.jstype=='B'}">
                    <th:block th:if="${session.umsg.jsqx=='M'}">
                    <li class="nav-item nav-item-has-subnav">
                        <a class="multitabs" href="toHt/staff?lx=B">
                            <i class="mdi mdi-stove"></i> <span>授课账户管理</span>
                        </a>
                    </li>
                    </th:block>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-stove"></i> <span>授课方管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toHt/toselect">授课方管理</a></li>
                            <th:block th:if="${session.umsg.jsqx=='M'}">
                            <li><a class="multitabs" href="toHt/tocourse">课程管理</a></li>
                            <li><a class="multitabs" href="toHt/toselection">选课预约管理</a></li>
                            </th:block>
                        </ul>
                    </li>
                    <th:block th:if="${session.umsg.jsqx=='M'}">
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-stove"></i> <span>消息管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toHt/tonews">推荐管理</a></li>
                            <li><a class="multitabs" href="toHt/tonewsa">消息管理</a></li>
                        </ul>
                    </li>
                    </th:block>
                </th:block>
                <!--选课方-->
                <th:block th:if="${session.umsg.jstype=='C'}">
                    <li class="nav-item nav-item-has-subnav">
                        <a class="multitabs" href="toHt/staff?lx=C">
                            <i class="mdi mdi-stove"></i> <span>选课账户管理</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a class="multitabs" href="toHt/tochose">
                            <i class="mdi mdi-stove"></i> <span>选课方管理</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-stove"></i> <span>授课方管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toHt/toselect">授课方管理</a></li>
                            <li><a class="multitabs" href="toHt/tocourse">课程管理</a></li>
                            <li><a class="multitabs" href="toHt/toselection">选课预约管理</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)">
                            <i class="mdi mdi-stove"></i> <span>消息管理</span>
                        </a>
                        <ul class="nav nav-subnav">
                            <li><a class="multitabs" href="toHt/tonews">需求管理</a></li>
                            <li><a class="multitabs" href="toHt/tonewsa">消息管理</a></li>
                        </ul>
                    </li>
                </th:block>
            </ul>
        </nav>
        <div class="sidebar-footer position-absolute bottom-0">
            <p class="copyright">
                <span>Copyright &copy; 2024. </span>
                <a target="_blank" href="http://www.nbefx.com">易飞迅</a>
            </p>
        </div>
    </div>

</aside>
</body>
</html>


