<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.Science.dao.cdhbaMapper">
  <resultMap id="BaseResultMap" type="com.efx.Science.model.cdhba">
    <id column="HBA001" jdbcType="INTEGER" property="hba001" />
    <result column="HBA002" jdbcType="VARCHAR" property="hba002" />
    <result column="HBA003" jdbcType="VARCHAR" property="hba003" />
    <result column="HBA004" jdbcType="VARCHAR" property="hba004" />
    <result column="HBA005" jdbcType="VARCHAR" property="hba005" />
    <result column="HBA006" jdbcType="REAL" property="hba006" />
    <result column="HBA007" jdbcType="CHAR" property="hba007" />
    <result column="HBA008" jdbcType="VARCHAR" property="hba008" />
    <result column="HBA009" jdbcType="VARCHAR" property="hba009" />
    <result column="HBA010" jdbcType="VARCHAR" property="hba010" />
    <result column="HBA011" jdbcType="VARCHAR" property="hba011" />
    <result column="HBA012" jdbcType="REAL" property="hba012" />
    <result column="HBA013" jdbcType="INTEGER" property="hba013" />
    <result column="HBA014" jdbcType="VARCHAR" property="hba014" />
    <result column="HBA015" jdbcType="VARCHAR" property="hba015" />
    <result column="HBA016" jdbcType="VARCHAR" property="hba016" />
    <result column="HBA017" jdbcType="VARCHAR" property="hba017" />
    <result column="HBA018" jdbcType="VARCHAR" property="hba018" />
    <result column="HBA019" jdbcType="LONGVARCHAR" property="hba019" />
    <result column="HBA020" jdbcType="VARCHAR" property="hba020" />
    <result column="HBA021" jdbcType="INTEGER" property="hba021" />
    <result column="HBA022" jdbcType="INTEGER" property="hba022" />
    <result column="HBA023" jdbcType="INTEGER" property="hba023" />
    <result column="HBA024" jdbcType="VARCHAR" property="hba024" />
    <result column="HBA025" jdbcType="VARCHAR" property="hba025" />
    <result column="HBA026" jdbcType="CHAR" property="hba026" />
    <result column="HBA027" jdbcType="REAL" property="hba027" />
    <result column="HBA028" jdbcType="REAL" property="hba028" />
    <result column="HBA029" jdbcType="REAL" property="hba029" />
    <result column="HBA030" jdbcType="REAL" property="hba030" />
    <result column="HBA031" jdbcType="REAL" property="hba031" />
    <result column="HBA032" jdbcType="REAL" property="hba032" />
    <result column="HBA033" jdbcType="VARCHAR" property="hba033" />
    <result column="HBA034" jdbcType="INTEGER" property="hba034" />
    <result column="HBA035" jdbcType="VARCHAR" property="hba035" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.efx.Science.model.cdhba">
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.efx.Science.model.cdhba"  extends="BaseResultMap">
    <association property="smd" column="HBA022" select="com.efx.Science.dao.cdsmdMapper.selectByPrimaryKey"/>
    <association property="hbb" column="HBA021" select="com.efx.Science.dao.cdhbbMapper.selectByPrimaryKey"/>
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.efx.Science.model.cdhba"  extends="BaseResultMap1">
    <result column="rs" jdbcType="INTEGER" property="rs" />
  </resultMap>
  <resultMap id="BaseResultMap3" type="com.efx.Science.model.cdhba"  extends="BaseResultMap1">
    <collection  property="yhclist"  column="HBA001"  select="com.efx.Science.dao.cdyhcMapper.selectBykcid"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    HBA001, HBA002, HBA003, HBA004, HBA005, HBA006, HBA007, HBA008, HBA009, HBA010, HBA011, 
    HBA012, HBA013, HBA014, HBA015, HBA016, HBA017, HBA018, HBA020, HBA021, HBA022, HBA023, 
    HBA024, HBA025, HBA026, HBA027, HBA028, HBA029, HBA030, HBA031, HBA032, HBA033, HBA034, 
    HBA035
  </sql>
  <sql id="Blob_Column_List">
    HBA019
  </sql>
  <sql id="Base_Column_List1">
    HBA001, HBA002, HBA003, HBA004, HBA005, HBA006, HBA007, HBA008, HBA009, HBA010, HBA011,
    HBA012, HBA013, HBA014, HBA015, HBA016, HBA017, HBA018,HBA019, HBA020, HBA021, HBA022, HBA023,
    HBA024, HBA025, HBA026, HBA027, HBA028, HBA029, HBA030, HBA031, HBA032, HBA033, HBA034,
    HBA035,(select sum(yhe016) from cdyhe where yhe003=HBA001 and (yhe007='E' or yhe007='F')) as rs
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.efx.Science.model.cdhbaExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cdhba
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.efx.Science.model.cdhbaExample" resultMap="BaseResultMap1">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />,<include refid="Blob_Column_List" />
    from cdhba
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cdhba
    where HBA001 = #{hba001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdhba
    where HBA001 = #{hba001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.Science.model.cdhbaExample">
    delete from cdhba
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.Science.model.cdhba">
    insert into cdhba (HBA001, HBA002, HBA003, 
      HBA004, HBA005, HBA006, 
      HBA007, HBA008, HBA009, 
      HBA010, HBA011, HBA012, 
      HBA013, HBA014, HBA015, 
      HBA016, HBA017, HBA018, 
      HBA020, HBA021, HBA022, 
      HBA023, HBA024, HBA025, 
      HBA026, HBA027, HBA028, HBA029, 
      HBA030, HBA031, HBA032, HBA033, 
      HBA034, HBA035, HBA019
      )
    values (#{hba001,jdbcType=INTEGER}, #{hba002,jdbcType=VARCHAR}, #{hba003,jdbcType=VARCHAR}, 
      #{hba004,jdbcType=VARCHAR}, #{hba005,jdbcType=VARCHAR}, #{hba006,jdbcType=REAL}, 
      #{hba007,jdbcType=CHAR}, #{hba008,jdbcType=VARCHAR}, #{hba009,jdbcType=VARCHAR}, 
      #{hba010,jdbcType=VARCHAR}, #{hba011,jdbcType=VARCHAR}, #{hba012,jdbcType=REAL}, 
      #{hba013,jdbcType=INTEGER}, #{hba014,jdbcType=VARCHAR}, #{hba015,jdbcType=VARCHAR}, 
      #{hba016,jdbcType=VARCHAR}, #{hba017,jdbcType=VARCHAR}, #{hba018,jdbcType=VARCHAR}, 
      #{hba020,jdbcType=VARCHAR}, #{hba021,jdbcType=INTEGER}, #{hba022,jdbcType=INTEGER}, 
      #{hba023,jdbcType=INTEGER}, #{hba024,jdbcType=VARCHAR}, #{hba025,jdbcType=VARCHAR}, 
      #{hba026,jdbcType=CHAR}, #{hba027,jdbcType=REAL}, #{hba028,jdbcType=REAL}, #{hba029,jdbcType=REAL}, 
      #{hba030,jdbcType=REAL}, #{hba031,jdbcType=REAL}, #{hba032,jdbcType=REAL}, #{hba033,jdbcType=VARCHAR}, 
      #{hba034,jdbcType=INTEGER}, #{hba035,jdbcType=VARCHAR}, #{hba019,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.Science.model.cdhba"  useGeneratedKeys="true" keyProperty="hba001">
    insert into cdhba
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hba001 != null">
        HBA001,
      </if>
      <if test="hba002 != null">
        HBA002,
      </if>
      <if test="hba003 != null">
        HBA003,
      </if>
      <if test="hba004 != null">
        HBA004,
      </if>
      <if test="hba005 != null">
        HBA005,
      </if>
      <if test="hba006 != null">
        HBA006,
      </if>
      <if test="hba007 != null">
        HBA007,
      </if>
      <if test="hba008 != null">
        HBA008,
      </if>
      <if test="hba009 != null">
        HBA009,
      </if>
      <if test="hba010 != null">
        HBA010,
      </if>
      <if test="hba011 != null">
        HBA011,
      </if>
      <if test="hba012 != null">
        HBA012,
      </if>
      <if test="hba013 != null">
        HBA013,
      </if>
      <if test="hba014 != null">
        HBA014,
      </if>
      <if test="hba015 != null">
        HBA015,
      </if>
      <if test="hba016 != null">
        HBA016,
      </if>
      <if test="hba017 != null">
        HBA017,
      </if>
      <if test="hba018 != null">
        HBA018,
      </if>
      <if test="hba020 != null">
        HBA020,
      </if>
      <if test="hba021 != null">
        HBA021,
      </if>
      <if test="hba022 != null">
        HBA022,
      </if>
      <if test="hba023 != null">
        HBA023,
      </if>
      <if test="hba024 != null">
        HBA024,
      </if>
      <if test="hba025 != null">
        HBA025,
      </if>
      <if test="hba026 != null">
        HBA026,
      </if>
      <if test="hba027 != null">
        HBA027,
      </if>
      <if test="hba028 != null">
        HBA028,
      </if>
      <if test="hba029 != null">
        HBA029,
      </if>
      <if test="hba030 != null">
        HBA030,
      </if>
      <if test="hba031 != null">
        HBA031,
      </if>
      <if test="hba032 != null">
        HBA032,
      </if>
      <if test="hba033 != null">
        HBA033,
      </if>
      <if test="hba034 != null">
        HBA034,
      </if>
      <if test="hba035 != null">
        HBA035,
      </if>
      <if test="hba019 != null">
        HBA019,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hba001 != null">
        #{hba001,jdbcType=INTEGER},
      </if>
      <if test="hba002 != null">
        #{hba002,jdbcType=VARCHAR},
      </if>
      <if test="hba003 != null">
        #{hba003,jdbcType=VARCHAR},
      </if>
      <if test="hba004 != null">
        #{hba004,jdbcType=VARCHAR},
      </if>
      <if test="hba005 != null">
        #{hba005,jdbcType=VARCHAR},
      </if>
      <if test="hba006 != null">
        #{hba006,jdbcType=REAL},
      </if>
      <if test="hba007 != null">
        #{hba007,jdbcType=CHAR},
      </if>
      <if test="hba008 != null">
        #{hba008,jdbcType=VARCHAR},
      </if>
      <if test="hba009 != null">
        #{hba009,jdbcType=VARCHAR},
      </if>
      <if test="hba010 != null">
        #{hba010,jdbcType=VARCHAR},
      </if>
      <if test="hba011 != null">
        #{hba011,jdbcType=VARCHAR},
      </if>
      <if test="hba012 != null">
        #{hba012,jdbcType=REAL},
      </if>
      <if test="hba013 != null">
        #{hba013,jdbcType=INTEGER},
      </if>
      <if test="hba014 != null">
        #{hba014,jdbcType=VARCHAR},
      </if>
      <if test="hba015 != null">
        #{hba015,jdbcType=VARCHAR},
      </if>
      <if test="hba016 != null">
        #{hba016,jdbcType=VARCHAR},
      </if>
      <if test="hba017 != null">
        #{hba017,jdbcType=VARCHAR},
      </if>
      <if test="hba018 != null">
        #{hba018,jdbcType=VARCHAR},
      </if>
      <if test="hba020 != null">
        #{hba020,jdbcType=VARCHAR},
      </if>
      <if test="hba021 != null">
        #{hba021,jdbcType=INTEGER},
      </if>
      <if test="hba022 != null">
        #{hba022,jdbcType=INTEGER},
      </if>
      <if test="hba023 != null">
        #{hba023,jdbcType=INTEGER},
      </if>
      <if test="hba024 != null">
        #{hba024,jdbcType=VARCHAR},
      </if>
      <if test="hba025 != null">
        #{hba025,jdbcType=VARCHAR},
      </if>
      <if test="hba026 != null">
        #{hba026,jdbcType=CHAR},
      </if>
      <if test="hba027 != null">
        #{hba027,jdbcType=REAL},
      </if>
      <if test="hba028 != null">
        #{hba028,jdbcType=REAL},
      </if>
      <if test="hba029 != null">
        #{hba029,jdbcType=REAL},
      </if>
      <if test="hba030 != null">
        #{hba030,jdbcType=REAL},
      </if>
      <if test="hba031 != null">
        #{hba031,jdbcType=REAL},
      </if>
      <if test="hba032 != null">
        #{hba032,jdbcType=REAL},
      </if>
      <if test="hba033 != null">
        #{hba033,jdbcType=VARCHAR},
      </if>
      <if test="hba034 != null">
        #{hba034,jdbcType=INTEGER},
      </if>
      <if test="hba035 != null">
        #{hba035,jdbcType=VARCHAR},
      </if>
      <if test="hba019 != null">
        #{hba019,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.Science.model.cdhbaExample" resultType="java.lang.Long">
    select count(*) from cdhba
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdhba
    <set>
      <if test="record.hba001 != null">
        HBA001 = #{record.hba001,jdbcType=INTEGER},
      </if>
      <if test="record.hba002 != null">
        HBA002 = #{record.hba002,jdbcType=VARCHAR},
      </if>
      <if test="record.hba003 != null">
        HBA003 = #{record.hba003,jdbcType=VARCHAR},
      </if>
      <if test="record.hba004 != null">
        HBA004 = #{record.hba004,jdbcType=VARCHAR},
      </if>
      <if test="record.hba005 != null">
        HBA005 = #{record.hba005,jdbcType=VARCHAR},
      </if>
      <if test="record.hba006 != null">
        HBA006 = #{record.hba006,jdbcType=REAL},
      </if>
      <if test="record.hba007 != null">
        HBA007 = #{record.hba007,jdbcType=CHAR},
      </if>
      <if test="record.hba008 != null">
        HBA008 = #{record.hba008,jdbcType=VARCHAR},
      </if>
      <if test="record.hba009 != null">
        HBA009 = #{record.hba009,jdbcType=VARCHAR},
      </if>
      <if test="record.hba010 != null">
        HBA010 = #{record.hba010,jdbcType=VARCHAR},
      </if>
      <if test="record.hba011 != null">
        HBA011 = #{record.hba011,jdbcType=VARCHAR},
      </if>
      <if test="record.hba012 != null">
        HBA012 = #{record.hba012,jdbcType=REAL},
      </if>
      <if test="record.hba013 != null">
        HBA013 = #{record.hba013,jdbcType=INTEGER},
      </if>
      <if test="record.hba014 != null">
        HBA014 = #{record.hba014,jdbcType=VARCHAR},
      </if>
      <if test="record.hba015 != null">
        HBA015 = #{record.hba015,jdbcType=VARCHAR},
      </if>
      <if test="record.hba016 != null">
        HBA016 = #{record.hba016,jdbcType=VARCHAR},
      </if>
      <if test="record.hba017 != null">
        HBA017 = #{record.hba017,jdbcType=VARCHAR},
      </if>
      <if test="record.hba018 != null">
        HBA018 = #{record.hba018,jdbcType=VARCHAR},
      </if>
      <if test="record.hba020 != null">
        HBA020 = #{record.hba020,jdbcType=VARCHAR},
      </if>
      <if test="record.hba021 != null">
        HBA021 = #{record.hba021,jdbcType=INTEGER},
      </if>
      <if test="record.hba022 != null">
        HBA022 = #{record.hba022,jdbcType=INTEGER},
      </if>
      <if test="record.hba023 != null">
        HBA023 = #{record.hba023,jdbcType=INTEGER},
      </if>
      <if test="record.hba024 != null">
        HBA024 = #{record.hba024,jdbcType=VARCHAR},
      </if>
      <if test="record.hba025 != null">
        HBA025 = #{record.hba025,jdbcType=VARCHAR},
      </if>
      <if test="record.hba026 != null">
        HBA026 = #{record.hba026,jdbcType=CHAR},
      </if>
      <if test="record.hba027 != null">
        HBA027 = #{record.hba027,jdbcType=REAL},
      </if>
      <if test="record.hba028 != null">
        HBA028 = #{record.hba028,jdbcType=REAL},
      </if>
      <if test="record.hba029 != null">
        HBA029 = #{record.hba029,jdbcType=REAL},
      </if>
      <if test="record.hba030 != null">
        HBA030 = #{record.hba030,jdbcType=REAL},
      </if>
      <if test="record.hba031 != null">
        HBA031 = #{record.hba031,jdbcType=REAL},
      </if>
      <if test="record.hba032 != null">
        HBA032 = #{record.hba032,jdbcType=REAL},
      </if>
      <if test="record.hba033 != null">
        HBA033 = #{record.hba033,jdbcType=VARCHAR},
      </if>
      <if test="record.hba034 != null">
        HBA034 = #{record.hba034,jdbcType=INTEGER},
      </if>
      <if test="record.hba035 != null">
        HBA035 = #{record.hba035,jdbcType=VARCHAR},
      </if>
      <if test="record.hba019 != null">
        HBA019 = #{record.hba019,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cdhba
    set HBA001 = #{record.hba001,jdbcType=INTEGER},
      HBA002 = #{record.hba002,jdbcType=VARCHAR},
      HBA003 = #{record.hba003,jdbcType=VARCHAR},
      HBA004 = #{record.hba004,jdbcType=VARCHAR},
      HBA005 = #{record.hba005,jdbcType=VARCHAR},
      HBA006 = #{record.hba006,jdbcType=REAL},
      HBA007 = #{record.hba007,jdbcType=CHAR},
      HBA008 = #{record.hba008,jdbcType=VARCHAR},
      HBA009 = #{record.hba009,jdbcType=VARCHAR},
      HBA010 = #{record.hba010,jdbcType=VARCHAR},
      HBA011 = #{record.hba011,jdbcType=VARCHAR},
      HBA012 = #{record.hba012,jdbcType=REAL},
      HBA013 = #{record.hba013,jdbcType=INTEGER},
      HBA014 = #{record.hba014,jdbcType=VARCHAR},
      HBA015 = #{record.hba015,jdbcType=VARCHAR},
      HBA016 = #{record.hba016,jdbcType=VARCHAR},
      HBA017 = #{record.hba017,jdbcType=VARCHAR},
      HBA018 = #{record.hba018,jdbcType=VARCHAR},
      HBA020 = #{record.hba020,jdbcType=VARCHAR},
      HBA021 = #{record.hba021,jdbcType=INTEGER},
      HBA022 = #{record.hba022,jdbcType=INTEGER},
      HBA023 = #{record.hba023,jdbcType=INTEGER},
      HBA024 = #{record.hba024,jdbcType=VARCHAR},
      HBA025 = #{record.hba025,jdbcType=VARCHAR},
      HBA026 = #{record.hba026,jdbcType=CHAR},
      HBA027 = #{record.hba027,jdbcType=REAL},
      HBA028 = #{record.hba028,jdbcType=REAL},
      HBA029 = #{record.hba029,jdbcType=REAL},
      HBA030 = #{record.hba030,jdbcType=REAL},
      HBA031 = #{record.hba031,jdbcType=REAL},
      HBA032 = #{record.hba032,jdbcType=REAL},
      HBA033 = #{record.hba033,jdbcType=VARCHAR},
      HBA034 = #{record.hba034,jdbcType=INTEGER},
      HBA035 = #{record.hba035,jdbcType=VARCHAR},
      HBA019 = #{record.hba019,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdhba
    set HBA001 = #{record.hba001,jdbcType=INTEGER},
      HBA002 = #{record.hba002,jdbcType=VARCHAR},
      HBA003 = #{record.hba003,jdbcType=VARCHAR},
      HBA004 = #{record.hba004,jdbcType=VARCHAR},
      HBA005 = #{record.hba005,jdbcType=VARCHAR},
      HBA006 = #{record.hba006,jdbcType=REAL},
      HBA007 = #{record.hba007,jdbcType=CHAR},
      HBA008 = #{record.hba008,jdbcType=VARCHAR},
      HBA009 = #{record.hba009,jdbcType=VARCHAR},
      HBA010 = #{record.hba010,jdbcType=VARCHAR},
      HBA011 = #{record.hba011,jdbcType=VARCHAR},
      HBA012 = #{record.hba012,jdbcType=REAL},
      HBA013 = #{record.hba013,jdbcType=INTEGER},
      HBA014 = #{record.hba014,jdbcType=VARCHAR},
      HBA015 = #{record.hba015,jdbcType=VARCHAR},
      HBA016 = #{record.hba016,jdbcType=VARCHAR},
      HBA017 = #{record.hba017,jdbcType=VARCHAR},
      HBA018 = #{record.hba018,jdbcType=VARCHAR},
      HBA020 = #{record.hba020,jdbcType=VARCHAR},
      HBA021 = #{record.hba021,jdbcType=INTEGER},
      HBA022 = #{record.hba022,jdbcType=INTEGER},
      HBA023 = #{record.hba023,jdbcType=INTEGER},
      HBA024 = #{record.hba024,jdbcType=VARCHAR},
      HBA025 = #{record.hba025,jdbcType=VARCHAR},
      HBA026 = #{record.hba026,jdbcType=CHAR},
      HBA027 = #{record.hba027,jdbcType=REAL},
      HBA028 = #{record.hba028,jdbcType=REAL},
      HBA029 = #{record.hba029,jdbcType=REAL},
      HBA030 = #{record.hba030,jdbcType=REAL},
      HBA031 = #{record.hba031,jdbcType=REAL},
      HBA032 = #{record.hba032,jdbcType=REAL},
      HBA033 = #{record.hba033,jdbcType=VARCHAR},
      HBA034 = #{record.hba034,jdbcType=INTEGER},
      HBA035 = #{record.hba035,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.Science.model.cdhba">
    update cdhba
    <set>
      <if test="hba002 != null">
        HBA002 = #{hba002,jdbcType=VARCHAR},
      </if>
      <if test="hba003 != null">
        HBA003 = #{hba003,jdbcType=VARCHAR},
      </if>
      <if test="hba004 != null">
        HBA004 = #{hba004,jdbcType=VARCHAR},
      </if>
      <if test="hba005 != null">
        HBA005 = #{hba005,jdbcType=VARCHAR},
      </if>
      <if test="hba006 != null">
        HBA006 = #{hba006,jdbcType=REAL},
      </if>
      <if test="hba007 != null">
        HBA007 = #{hba007,jdbcType=CHAR},
      </if>
      <if test="hba008 != null">
        HBA008 = #{hba008,jdbcType=VARCHAR},
      </if>
      <if test="hba009 != null">
        HBA009 = #{hba009,jdbcType=VARCHAR},
      </if>
      <if test="hba010 != null">
        HBA010 = #{hba010,jdbcType=VARCHAR},
      </if>
      <if test="hba011 != null">
        HBA011 = #{hba011,jdbcType=VARCHAR},
      </if>
      <if test="hba012 != null">
        HBA012 = #{hba012,jdbcType=REAL},
      </if>
      <if test="hba013 != null">
        HBA013 = #{hba013,jdbcType=INTEGER},
      </if>
      <if test="hba014 != null">
        HBA014 = #{hba014,jdbcType=VARCHAR},
      </if>
      <if test="hba015 != null">
        HBA015 = #{hba015,jdbcType=VARCHAR},
      </if>
      <if test="hba016 != null">
        HBA016 = #{hba016,jdbcType=VARCHAR},
      </if>
      <if test="hba017 != null">
        HBA017 = #{hba017,jdbcType=VARCHAR},
      </if>
      <if test="hba018 != null">
        HBA018 = #{hba018,jdbcType=VARCHAR},
      </if>
      <if test="hba020 != null">
        HBA020 = #{hba020,jdbcType=VARCHAR},
      </if>
      <if test="hba021 != null">
        HBA021 = #{hba021,jdbcType=INTEGER},
      </if>
      <if test="hba022 != null">
        HBA022 = #{hba022,jdbcType=INTEGER},
      </if>
      <if test="hba023 != null">
        HBA023 = #{hba023,jdbcType=INTEGER},
      </if>
      <if test="hba024 != null">
        HBA024 = #{hba024,jdbcType=VARCHAR},
      </if>
      <if test="hba025 != null">
        HBA025 = #{hba025,jdbcType=VARCHAR},
      </if>
      <if test="hba026 != null">
        HBA026 = #{hba026,jdbcType=CHAR},
      </if>
      <if test="hba027 != null">
        HBA027 = #{hba027,jdbcType=REAL},
      </if>
      <if test="hba028 != null">
        HBA028 = #{hba028,jdbcType=REAL},
      </if>
      <if test="hba029 != null">
        HBA029 = #{hba029,jdbcType=REAL},
      </if>
      <if test="hba030 != null">
        HBA030 = #{hba030,jdbcType=REAL},
      </if>
      <if test="hba031 != null">
        HBA031 = #{hba031,jdbcType=REAL},
      </if>
      <if test="hba032 != null">
        HBA032 = #{hba032,jdbcType=REAL},
      </if>
      <if test="hba033 != null">
        HBA033 = #{hba033,jdbcType=VARCHAR},
      </if>
      <if test="hba034 != null">
        HBA034 = #{hba034,jdbcType=INTEGER},
      </if>
      <if test="hba035 != null">
        HBA035 = #{hba035,jdbcType=VARCHAR},
      </if>
      <if test="hba019 != null">
        HBA019 = #{hba019,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where HBA001 = #{hba001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.efx.Science.model.cdhba">
    update cdhba
    set HBA002 = #{hba002,jdbcType=VARCHAR},
      HBA003 = #{hba003,jdbcType=VARCHAR},
      HBA004 = #{hba004,jdbcType=VARCHAR},
      HBA005 = #{hba005,jdbcType=VARCHAR},
      HBA006 = #{hba006,jdbcType=REAL},
      HBA007 = #{hba007,jdbcType=CHAR},
      HBA008 = #{hba008,jdbcType=VARCHAR},
      HBA009 = #{hba009,jdbcType=VARCHAR},
      HBA010 = #{hba010,jdbcType=VARCHAR},
      HBA011 = #{hba011,jdbcType=VARCHAR},
      HBA012 = #{hba012,jdbcType=REAL},
      HBA013 = #{hba013,jdbcType=INTEGER},
      HBA014 = #{hba014,jdbcType=VARCHAR},
      HBA015 = #{hba015,jdbcType=VARCHAR},
      HBA016 = #{hba016,jdbcType=VARCHAR},
      HBA017 = #{hba017,jdbcType=VARCHAR},
      HBA018 = #{hba018,jdbcType=VARCHAR},
      HBA020 = #{hba020,jdbcType=VARCHAR},
      HBA021 = #{hba021,jdbcType=INTEGER},
      HBA022 = #{hba022,jdbcType=INTEGER},
      HBA023 = #{hba023,jdbcType=INTEGER},
      HBA024 = #{hba024,jdbcType=VARCHAR},
      HBA025 = #{hba025,jdbcType=VARCHAR},
      HBA026 = #{hba026,jdbcType=CHAR},
      HBA027 = #{hba027,jdbcType=REAL},
      HBA028 = #{hba028,jdbcType=REAL},
      HBA029 = #{hba029,jdbcType=REAL},
      HBA030 = #{hba030,jdbcType=REAL},
      HBA031 = #{hba031,jdbcType=REAL},
      HBA032 = #{hba032,jdbcType=REAL},
      HBA033 = #{hba033,jdbcType=VARCHAR},
      HBA034 = #{hba034,jdbcType=INTEGER},
      HBA035 = #{hba035,jdbcType=VARCHAR},
      HBA019 = #{hba019,jdbcType=LONGVARCHAR}
    where HBA001 = #{hba001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.Science.model.cdhba">
    update cdhba
    set HBA002 = #{hba002,jdbcType=VARCHAR},
      HBA003 = #{hba003,jdbcType=VARCHAR},
      HBA004 = #{hba004,jdbcType=VARCHAR},
      HBA005 = #{hba005,jdbcType=VARCHAR},
      HBA006 = #{hba006,jdbcType=REAL},
      HBA007 = #{hba007,jdbcType=CHAR},
      HBA008 = #{hba008,jdbcType=VARCHAR},
      HBA009 = #{hba009,jdbcType=VARCHAR},
      HBA010 = #{hba010,jdbcType=VARCHAR},
      HBA011 = #{hba011,jdbcType=VARCHAR},
      HBA012 = #{hba012,jdbcType=REAL},
      HBA013 = #{hba013,jdbcType=INTEGER},
      HBA014 = #{hba014,jdbcType=VARCHAR},
      HBA015 = #{hba015,jdbcType=VARCHAR},
      HBA016 = #{hba016,jdbcType=VARCHAR},
      HBA017 = #{hba017,jdbcType=VARCHAR},
      HBA018 = #{hba018,jdbcType=VARCHAR},
      HBA020 = #{hba020,jdbcType=VARCHAR},
      HBA021 = #{hba021,jdbcType=INTEGER},
      HBA022 = #{hba022,jdbcType=INTEGER},
      HBA023 = #{hba023,jdbcType=INTEGER},
      HBA024 = #{hba024,jdbcType=VARCHAR},
      HBA025 = #{hba025,jdbcType=VARCHAR},
      HBA026 = #{hba026,jdbcType=CHAR},
      HBA027 = #{hba027,jdbcType=REAL},
      HBA028 = #{hba028,jdbcType=REAL},
      HBA029 = #{hba029,jdbcType=REAL},
      HBA030 = #{hba030,jdbcType=REAL},
      HBA031 = #{hba031,jdbcType=REAL},
      HBA032 = #{hba032,jdbcType=REAL},
      HBA033 = #{hba033,jdbcType=VARCHAR},
      HBA034 = #{hba034,jdbcType=INTEGER},
      HBA035 = #{hba035,jdbcType=VARCHAR}
    where HBA001 = #{hba001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap1" parameterType="com.efx.Science.model.cdhbaExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />, <include refid="Blob_Column_List" />
    from cdhba
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample1" parameterType="com.efx.Science.model.cdhbaExample" resultType="java.lang.Integer">
    select count(*) from cdhba left join cdsmd on cdhba.hba022=cdsmd.smd001
    <where>
      <if test="cdhbaExample != null">
        <foreach collection="cdhbaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdsmdExample != null">
        <foreach collection="cdsmdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>
  <select id="selectByExampleAndPage1" resultMap="BaseResultMap2" parameterType="com.efx.Science.model.cdhbaExample" flushCache="true" useCache="false">
    select
    <include refid="Base_Column_List" />, <include refid="Blob_Column_List" />
    from cdhba  left join cdsmd on cdhba.hba022=cdsmd.smd001
    <where>
      <if test="cdhbaExample != null">
        <foreach collection="cdhbaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdsmdExample != null">
        <foreach collection="cdsmdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdhbaExample.orderByClause != null" >
      order by ${cdhbaExample.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cdhba
    where HBA001 = #{hba001,jdbcType=INTEGER}
  </select>

  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
</mapper>