<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.Science.dao.cdyhcMapper">
  <resultMap id="BaseResultMap" type="com.efx.Science.model.cdyhc">
    <id column="YHC001" jdbcType="INTEGER" property="yhc001" />
    <result column="YHC002" jdbcType="INTEGER" property="yhc002" />
    <result column="YHC003" jdbcType="VARCHAR" property="yhc003" />
    <result column="YHC005" jdbcType="INTEGER" property="yhc005" />
    <result column="YHC006" jdbcType="TIMESTAMP" property="yhc006" />
    <result column="YHC007" jdbcType="VARCHAR" property="yhc007" />
    <result column="YHC008" jdbcType="VARCHAR" property="yhc008" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.efx.Science.model.cdyhc">
    <result column="YHC004" jdbcType="LONGVARCHAR" property="yhc004" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHC001, YHC002, YHC003, YHC005, YHC006, YHC007, YHC008
  </sql>
  <sql id="Blob_Column_List">
    YHC004
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.efx.Science.model.cdyhcExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cdyhc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.efx.Science.model.cdyhcExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cdyhc
    where YHC001 = #{yhc001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdyhc
    where YHC001 = #{yhc001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.Science.model.cdyhcExample">
    delete from cdyhc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.Science.model.cdyhc">
    insert into cdyhc (YHC001, YHC002, YHC003, 
      YHC005, YHC006, YHC007, 
      YHC008, YHC004)
    values (#{yhc001,jdbcType=INTEGER}, #{yhc002,jdbcType=INTEGER}, #{yhc003,jdbcType=VARCHAR}, 
      #{yhc005,jdbcType=INTEGER}, #{yhc006,jdbcType=TIMESTAMP}, #{yhc007,jdbcType=VARCHAR}, 
      #{yhc008,jdbcType=VARCHAR}, #{yhc004,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efx.Science.model.cdyhc">
    insert into cdyhc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhc001 != null">
        YHC001,
      </if>
      <if test="yhc002 != null">
        YHC002,
      </if>
      <if test="yhc003 != null">
        YHC003,
      </if>
      <if test="yhc005 != null">
        YHC005,
      </if>
      <if test="yhc006 != null">
        YHC006,
      </if>
      <if test="yhc007 != null">
        YHC007,
      </if>
      <if test="yhc008 != null">
        YHC008,
      </if>
      <if test="yhc004 != null">
        YHC004,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhc001 != null">
        #{yhc001,jdbcType=INTEGER},
      </if>
      <if test="yhc002 != null">
        #{yhc002,jdbcType=INTEGER},
      </if>
      <if test="yhc003 != null">
        #{yhc003,jdbcType=VARCHAR},
      </if>
      <if test="yhc005 != null">
        #{yhc005,jdbcType=INTEGER},
      </if>
      <if test="yhc006 != null">
        #{yhc006,jdbcType=TIMESTAMP},
      </if>
      <if test="yhc007 != null">
        #{yhc007,jdbcType=VARCHAR},
      </if>
      <if test="yhc008 != null">
        #{yhc008,jdbcType=VARCHAR},
      </if>
      <if test="yhc004 != null">
        #{yhc004,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.Science.model.cdyhcExample" resultType="java.lang.Long">
    select count(*) from cdyhc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhc
    <set>
      <if test="record.yhc001 != null">
        YHC001 = #{record.yhc001,jdbcType=INTEGER},
      </if>
      <if test="record.yhc002 != null">
        YHC002 = #{record.yhc002,jdbcType=INTEGER},
      </if>
      <if test="record.yhc003 != null">
        YHC003 = #{record.yhc003,jdbcType=VARCHAR},
      </if>
      <if test="record.yhc005 != null">
        YHC005 = #{record.yhc005,jdbcType=INTEGER},
      </if>
      <if test="record.yhc006 != null">
        YHC006 = #{record.yhc006,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhc007 != null">
        YHC007 = #{record.yhc007,jdbcType=VARCHAR},
      </if>
      <if test="record.yhc008 != null">
        YHC008 = #{record.yhc008,jdbcType=VARCHAR},
      </if>
      <if test="record.yhc004 != null">
        YHC004 = #{record.yhc004,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cdyhc
    set YHC001 = #{record.yhc001,jdbcType=INTEGER},
      YHC002 = #{record.yhc002,jdbcType=INTEGER},
      YHC003 = #{record.yhc003,jdbcType=VARCHAR},
      YHC005 = #{record.yhc005,jdbcType=INTEGER},
      YHC006 = #{record.yhc006,jdbcType=TIMESTAMP},
      YHC007 = #{record.yhc007,jdbcType=VARCHAR},
      YHC008 = #{record.yhc008,jdbcType=VARCHAR},
      YHC004 = #{record.yhc004,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhc
    set YHC001 = #{record.yhc001,jdbcType=INTEGER},
      YHC002 = #{record.yhc002,jdbcType=INTEGER},
      YHC003 = #{record.yhc003,jdbcType=VARCHAR},
      YHC005 = #{record.yhc005,jdbcType=INTEGER},
      YHC006 = #{record.yhc006,jdbcType=TIMESTAMP},
      YHC007 = #{record.yhc007,jdbcType=VARCHAR},
      YHC008 = #{record.yhc008,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.Science.model.cdyhc">
    update cdyhc
    <set>
      <if test="yhc002 != null">
        YHC002 = #{yhc002,jdbcType=INTEGER},
      </if>
      <if test="yhc003 != null">
        YHC003 = #{yhc003,jdbcType=VARCHAR},
      </if>
      <if test="yhc005 != null">
        YHC005 = #{yhc005,jdbcType=INTEGER},
      </if>
      <if test="yhc006 != null">
        YHC006 = #{yhc006,jdbcType=TIMESTAMP},
      </if>
      <if test="yhc007 != null">
        YHC007 = #{yhc007,jdbcType=VARCHAR},
      </if>
      <if test="yhc008 != null">
        YHC008 = #{yhc008,jdbcType=VARCHAR},
      </if>
      <if test="yhc004 != null">
        YHC004 = #{yhc004,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where YHC001 = #{yhc001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.efx.Science.model.cdyhc">
    update cdyhc
    set YHC002 = #{yhc002,jdbcType=INTEGER},
      YHC003 = #{yhc003,jdbcType=VARCHAR},
      YHC005 = #{yhc005,jdbcType=INTEGER},
      YHC006 = #{yhc006,jdbcType=TIMESTAMP},
      YHC007 = #{yhc007,jdbcType=VARCHAR},
      YHC008 = #{yhc008,jdbcType=VARCHAR},
      YHC004 = #{yhc004,jdbcType=LONGVARCHAR}
    where YHC001 = #{yhc001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.Science.model.cdyhc">
    update cdyhc
    set YHC002 = #{yhc002,jdbcType=INTEGER},
      YHC003 = #{yhc003,jdbcType=VARCHAR},
      YHC005 = #{yhc005,jdbcType=INTEGER},
      YHC006 = #{yhc006,jdbcType=TIMESTAMP},
      YHC007 = #{yhc007,jdbcType=VARCHAR},
      YHC008 = #{yhc008,jdbcType=VARCHAR}
    where YHC001 = #{yhc001,jdbcType=INTEGER}
  </update>
</mapper>