<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.Science.dao.cdyhbMapper">
  <resultMap id="BaseResultMap" type="com.efx.Science.model.cdyhb">
    <id column="YHB001" jdbcType="INTEGER" property="yhb001" />
    <result column="YHB002" jdbcType="INTEGER" property="yhb002" />
    <result column="YHB003" jdbcType="INTEGER" property="yhb003" />
    <result column="YHB004" jdbcType="VARCHAR" property="yhb004" />
    <result column="YHB005" jdbcType="VARCHAR" property="yhb005" />
    <result column="YHB006" jdbcType="VARCHAR" property="yhb006" />
    <result column="YHB007" jdbcType="VARCHAR" property="yhb007" />
    <result column="YHB008" jdbcType="VARCHAR" property="yhb008" />
    <result column="YHB009" jdbcType="VARCHAR" property="yhb009" />
    <result column="YHB010" jdbcType="VARCHAR" property="yhb010" />
    <result column="YHB011" jdbcType="TIMESTAMP" property="yhb011" />
    <result column="YHB012" jdbcType="INTEGER" property="yhb012" />
    <result column="YHB013" jdbcType="INTEGER" property="yhb013" />
    <result column="YHB014" jdbcType="INTEGER" property="yhb014" />
    <result column="YHB015" jdbcType="INTEGER" property="yhb015" />
    <result column="YHB016" jdbcType="INTEGER" property="yhb016" />
    <result column="YHB017" jdbcType="REAL" property="yhb017" />
    <result column="YHB018" jdbcType="REAL" property="yhb018" />
    <result column="YHB019" jdbcType="REAL" property="yhb019" />
    <result column="YHB020" jdbcType="INTEGER" property="yhb020" />
    <result column="YHB021" jdbcType="INTEGER" property="yhb021" />
    <result column="YHB022" jdbcType="TIMESTAMP" property="yhb022" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.efx.Science.model.cdyhb"  extends="BaseResultMap">
    <association property="yha" column="YHB002" select="com.efx.Science.dao.cdyhaMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHB001, YHB002, YHB003, YHB004, YHB005, YHB006, YHB007, YHB008, YHB009, YHB010, YHB011, 
    YHB012, YHB013, YHB014, YHB015, YHB016, YHB017, YHB018, YHB019, YHB020, YHB021, YHB022
  </sql>
  <select id="selectByExample" parameterType="com.efx.Science.model.cdyhbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select 
    <include refid="Base_Column_List" />
    from cdyhb
    where YHB001 = #{yhb001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdyhb
    where YHB001 = #{yhb001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.Science.model.cdyhbExample">
    delete from cdyhb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.Science.model.cdyhb">
    insert into cdyhb (YHB001, YHB002, YHB003, 
      YHB004, YHB005, YHB006, 
      YHB007, YHB008, YHB009, 
      YHB010, YHB011, YHB012, 
      YHB013, YHB014, YHB015, 
      YHB016, YHB017, YHB018, YHB019, 
      YHB020, YHB021, YHB022
      )
    values (#{yhb001,jdbcType=INTEGER}, #{yhb002,jdbcType=INTEGER}, #{yhb003,jdbcType=INTEGER}, 
      #{yhb004,jdbcType=VARCHAR}, #{yhb005,jdbcType=VARCHAR}, #{yhb006,jdbcType=VARCHAR}, 
      #{yhb007,jdbcType=VARCHAR}, #{yhb008,jdbcType=VARCHAR}, #{yhb009,jdbcType=VARCHAR}, 
      #{yhb010,jdbcType=VARCHAR}, #{yhb011,jdbcType=TIMESTAMP}, #{yhb012,jdbcType=INTEGER}, 
      #{yhb013,jdbcType=INTEGER}, #{yhb014,jdbcType=INTEGER}, #{yhb015,jdbcType=INTEGER}, 
      #{yhb016,jdbcType=INTEGER}, #{yhb017,jdbcType=REAL}, #{yhb018,jdbcType=REAL}, #{yhb019,jdbcType=REAL}, 
      #{yhb020,jdbcType=INTEGER}, #{yhb021,jdbcType=INTEGER}, #{yhb022,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.Science.model.cdyhb">
    insert into cdyhb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhb001 != null">
        YHB001,
      </if>
      <if test="yhb002 != null">
        YHB002,
      </if>
      <if test="yhb003 != null">
        YHB003,
      </if>
      <if test="yhb004 != null">
        YHB004,
      </if>
      <if test="yhb005 != null">
        YHB005,
      </if>
      <if test="yhb006 != null">
        YHB006,
      </if>
      <if test="yhb007 != null">
        YHB007,
      </if>
      <if test="yhb008 != null">
        YHB008,
      </if>
      <if test="yhb009 != null">
        YHB009,
      </if>
      <if test="yhb010 != null">
        YHB010,
      </if>
      <if test="yhb011 != null">
        YHB011,
      </if>
      <if test="yhb012 != null">
        YHB012,
      </if>
      <if test="yhb013 != null">
        YHB013,
      </if>
      <if test="yhb014 != null">
        YHB014,
      </if>
      <if test="yhb015 != null">
        YHB015,
      </if>
      <if test="yhb016 != null">
        YHB016,
      </if>
      <if test="yhb017 != null">
        YHB017,
      </if>
      <if test="yhb018 != null">
        YHB018,
      </if>
      <if test="yhb019 != null">
        YHB019,
      </if>
      <if test="yhb020 != null">
        YHB020,
      </if>
      <if test="yhb021 != null">
        YHB021,
      </if>
      <if test="yhb022 != null">
        YHB022,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhb001 != null">
        #{yhb001,jdbcType=INTEGER},
      </if>
      <if test="yhb002 != null">
        #{yhb002,jdbcType=INTEGER},
      </if>
      <if test="yhb003 != null">
        #{yhb003,jdbcType=INTEGER},
      </if>
      <if test="yhb004 != null">
        #{yhb004,jdbcType=VARCHAR},
      </if>
      <if test="yhb005 != null">
        #{yhb005,jdbcType=VARCHAR},
      </if>
      <if test="yhb006 != null">
        #{yhb006,jdbcType=VARCHAR},
      </if>
      <if test="yhb007 != null">
        #{yhb007,jdbcType=VARCHAR},
      </if>
      <if test="yhb008 != null">
        #{yhb008,jdbcType=VARCHAR},
      </if>
      <if test="yhb009 != null">
        #{yhb009,jdbcType=VARCHAR},
      </if>
      <if test="yhb010 != null">
        #{yhb010,jdbcType=VARCHAR},
      </if>
      <if test="yhb011 != null">
        #{yhb011,jdbcType=TIMESTAMP},
      </if>
      <if test="yhb012 != null">
        #{yhb012,jdbcType=INTEGER},
      </if>
      <if test="yhb013 != null">
        #{yhb013,jdbcType=INTEGER},
      </if>
      <if test="yhb014 != null">
        #{yhb014,jdbcType=INTEGER},
      </if>
      <if test="yhb015 != null">
        #{yhb015,jdbcType=INTEGER},
      </if>
      <if test="yhb016 != null">
        #{yhb016,jdbcType=INTEGER},
      </if>
      <if test="yhb017 != null">
        #{yhb017,jdbcType=REAL},
      </if>
      <if test="yhb018 != null">
        #{yhb018,jdbcType=REAL},
      </if>
      <if test="yhb019 != null">
        #{yhb019,jdbcType=REAL},
      </if>
      <if test="yhb020 != null">
        #{yhb020,jdbcType=INTEGER},
      </if>
      <if test="yhb021 != null">
        #{yhb021,jdbcType=INTEGER},
      </if>
      <if test="yhb022 != null">
        #{yhb022,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.Science.model.cdyhbExample" resultType="java.lang.Long">
    select count(*) from cdyhb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhb
    <set>
      <if test="record.yhb001 != null">
        YHB001 = #{record.yhb001,jdbcType=INTEGER},
      </if>
      <if test="record.yhb002 != null">
        YHB002 = #{record.yhb002,jdbcType=INTEGER},
      </if>
      <if test="record.yhb003 != null">
        YHB003 = #{record.yhb003,jdbcType=INTEGER},
      </if>
      <if test="record.yhb004 != null">
        YHB004 = #{record.yhb004,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb005 != null">
        YHB005 = #{record.yhb005,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb006 != null">
        YHB006 = #{record.yhb006,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb007 != null">
        YHB007 = #{record.yhb007,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb008 != null">
        YHB008 = #{record.yhb008,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb009 != null">
        YHB009 = #{record.yhb009,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb010 != null">
        YHB010 = #{record.yhb010,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb011 != null">
        YHB011 = #{record.yhb011,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhb012 != null">
        YHB012 = #{record.yhb012,jdbcType=INTEGER},
      </if>
      <if test="record.yhb013 != null">
        YHB013 = #{record.yhb013,jdbcType=INTEGER},
      </if>
      <if test="record.yhb014 != null">
        YHB014 = #{record.yhb014,jdbcType=INTEGER},
      </if>
      <if test="record.yhb015 != null">
        YHB015 = #{record.yhb015,jdbcType=INTEGER},
      </if>
      <if test="record.yhb016 != null">
        YHB016 = #{record.yhb016,jdbcType=INTEGER},
      </if>
      <if test="record.yhb017 != null">
        YHB017 = #{record.yhb017,jdbcType=REAL},
      </if>
      <if test="record.yhb018 != null">
        YHB018 = #{record.yhb018,jdbcType=REAL},
      </if>
      <if test="record.yhb019 != null">
        YHB019 = #{record.yhb019,jdbcType=REAL},
      </if>
      <if test="record.yhb020 != null">
        YHB020 = #{record.yhb020,jdbcType=INTEGER},
      </if>
      <if test="record.yhb021 != null">
        YHB021 = #{record.yhb021,jdbcType=INTEGER},
      </if>
      <if test="record.yhb022 != null">
        YHB022 = #{record.yhb022,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhb
    set YHB001 = #{record.yhb001,jdbcType=INTEGER},
      YHB002 = #{record.yhb002,jdbcType=INTEGER},
      YHB003 = #{record.yhb003,jdbcType=INTEGER},
      YHB004 = #{record.yhb004,jdbcType=VARCHAR},
      YHB005 = #{record.yhb005,jdbcType=VARCHAR},
      YHB006 = #{record.yhb006,jdbcType=VARCHAR},
      YHB007 = #{record.yhb007,jdbcType=VARCHAR},
      YHB008 = #{record.yhb008,jdbcType=VARCHAR},
      YHB009 = #{record.yhb009,jdbcType=VARCHAR},
      YHB010 = #{record.yhb010,jdbcType=VARCHAR},
      YHB011 = #{record.yhb011,jdbcType=TIMESTAMP},
      YHB012 = #{record.yhb012,jdbcType=INTEGER},
      YHB013 = #{record.yhb013,jdbcType=INTEGER},
      YHB014 = #{record.yhb014,jdbcType=INTEGER},
      YHB015 = #{record.yhb015,jdbcType=INTEGER},
      YHB016 = #{record.yhb016,jdbcType=INTEGER},
      YHB017 = #{record.yhb017,jdbcType=REAL},
      YHB018 = #{record.yhb018,jdbcType=REAL},
      YHB019 = #{record.yhb019,jdbcType=REAL},
      YHB020 = #{record.yhb020,jdbcType=INTEGER},
      YHB021 = #{record.yhb021,jdbcType=INTEGER},
      YHB022 = #{record.yhb022,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.Science.model.cdyhb">
    update cdyhb
    <set>
      <if test="yhb002 != null">
        YHB002 = #{yhb002,jdbcType=INTEGER},
      </if>
      <if test="yhb003 != null">
        YHB003 = #{yhb003,jdbcType=INTEGER},
      </if>
      <if test="yhb004 != null">
        YHB004 = #{yhb004,jdbcType=VARCHAR},
      </if>
      <if test="yhb005 != null">
        YHB005 = #{yhb005,jdbcType=VARCHAR},
      </if>
      <if test="yhb006 != null">
        YHB006 = #{yhb006,jdbcType=VARCHAR},
      </if>
      <if test="yhb007 != null">
        YHB007 = #{yhb007,jdbcType=VARCHAR},
      </if>
      <if test="yhb008 != null">
        YHB008 = #{yhb008,jdbcType=VARCHAR},
      </if>
      <if test="yhb009 != null">
        YHB009 = #{yhb009,jdbcType=VARCHAR},
      </if>
      <if test="yhb010 != null">
        YHB010 = #{yhb010,jdbcType=VARCHAR},
      </if>
      <if test="yhb011 != null">
        YHB011 = #{yhb011,jdbcType=TIMESTAMP},
      </if>
      <if test="yhb012 != null">
        YHB012 = #{yhb012,jdbcType=INTEGER},
      </if>
      <if test="yhb013 != null">
        YHB013 = #{yhb013,jdbcType=INTEGER},
      </if>
      <if test="yhb014 != null">
        YHB014 = #{yhb014,jdbcType=INTEGER},
      </if>
      <if test="yhb015 != null">
        YHB015 = #{yhb015,jdbcType=INTEGER},
      </if>
      <if test="yhb016 != null">
        YHB016 = #{yhb016,jdbcType=INTEGER},
      </if>
      <if test="yhb017 != null">
        YHB017 = #{yhb017,jdbcType=REAL},
      </if>
      <if test="yhb018 != null">
        YHB018 = #{yhb018,jdbcType=REAL},
      </if>
      <if test="yhb019 != null">
        YHB019 = #{yhb019,jdbcType=REAL},
      </if>
      <if test="yhb020 != null">
        YHB020 = #{yhb020,jdbcType=INTEGER},
      </if>
      <if test="yhb021 != null">
        YHB021 = #{yhb021,jdbcType=INTEGER},
      </if>
      <if test="yhb022 != null">
        YHB022 = #{yhb022,jdbcType=TIMESTAMP},
      </if>
    </set>
    where YHB001 = #{yhb001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.Science.model.cdyhb">
    update cdyhb
    set YHB002 = #{yhb002,jdbcType=INTEGER},
      YHB003 = #{yhb003,jdbcType=INTEGER},
      YHB004 = #{yhb004,jdbcType=VARCHAR},
      YHB005 = #{yhb005,jdbcType=VARCHAR},
      YHB006 = #{yhb006,jdbcType=VARCHAR},
      YHB007 = #{yhb007,jdbcType=VARCHAR},
      YHB008 = #{yhb008,jdbcType=VARCHAR},
      YHB009 = #{yhb009,jdbcType=VARCHAR},
      YHB010 = #{yhb010,jdbcType=VARCHAR},
      YHB011 = #{yhb011,jdbcType=TIMESTAMP},
      YHB012 = #{yhb012,jdbcType=INTEGER},
      YHB013 = #{yhb013,jdbcType=INTEGER},
      YHB014 = #{yhb014,jdbcType=INTEGER},
      YHB015 = #{yhb015,jdbcType=INTEGER},
      YHB016 = #{yhb016,jdbcType=INTEGER},
      YHB017 = #{yhb017,jdbcType=REAL},
      YHB018 = #{yhb018,jdbcType=REAL},
      YHB019 = #{yhb019,jdbcType=REAL},
      YHB020 = #{yhb020,jdbcType=INTEGER},
      YHB021 = #{yhb021,jdbcType=INTEGER},
      YHB022 = #{yhb022,jdbcType=TIMESTAMP}
    where YHB001 = #{yhb001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap1" parameterType="com.efx.Science.model.cdyhbExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>